<app-blog-template-cs blogId="32" date="23.08.2023" [faq]="faq" [readMore]="readMore"
                      title="{{'BLOG.32.TITLE' | translate}}">

  <div class="container mt-4">
    <h3>{{'BLOG.32.C1' | translate}}</h3>
    <ul class="list-group">
      <li class="list-group-item"><a pageScroll  href="#jednoduchy-rezervacni-system-s-notadem">{{'BLOG.32.L1' | translate}}</a></li>
      <li class="list-group-item"><a pageScroll  href="#nastaveni-zakaznika">{{'BLOG.32.L2' | translate}}</a></li>
      <li class="list-group-item"><a pageScroll  href="#nastaveni-služby">{{'BLOG.32.L3' | translate}}</a></li>
      <li class="list-group-item"><a pageScroll  href="#nastaveni-notifikace">{{'BLOG.32.L4' | translate}}</a></li>
      <li class="list-group-item"><a pageScroll  href="#nastaveni-oteviraci-doby">{{'BLOG.32.L5' | translate}}</a></li>
      <li class="list-group-item"><a pageScroll  href="#další-nezbytné-věci-pro-nastaveni-rezervacniho-systemu">{{'BLOG.32.L6' | translate}}</a></li>
    </ul>
  </div>

  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="jednoduchy-rezervacni-system-s-notadem">{{'BLOG.32.T1' | translate}}</h2>
        <p>{{'BLOG.32.P1' | translate}}</p>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row">
      <div class="col-md-9">
        <img src="../../../../../resources/blog/31/01.png" alt="{{'BLOG.32.I1_ALT' | translate}}" class="img-fluid img-shadow rounded">
      </div>
      <div class="col-md-3">
        <h3 id="nastaveni-zakaznika">{{'BLOG.32.T2' | translate}}</h3>
        <p>{{'BLOG.32.P2' | translate}}</p>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row">
      <div class="col-md-3">
        <h3 id="nastaveni-služby">{{'BLOG.32.T3' | translate}}</h3>
        <p>{{'BLOG.32.P3' | translate}}</p>
      </div>
      <div class="col-md-9">
        <img src="../../../../../resources/blog/31/02.png" alt="{{'BLOG.32.I2_ALT' | translate}}" class="img-fluid img-shadow rounded">
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row">
      <div class="col-md-9">
        <img src="../../../../../resources/blog/31/03.png" alt="{{'BLOG.32.I3_ALT' | translate}}" class="img-fluid img-shadow rounded">
      </div>
      <div class="col-md-3">
        <h3 id="nastaveni-notifikace">{{'BLOG.32.T4' | translate}}</h3>
        <p>{{'BLOG.32.P4' | translate}}</p>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row">
      <div class="col-md-3">
        <h3 id="nastaveni-oteviraci-doby">{{'BLOG.32.T5' | translate}}</h3>
        <p>{{'BLOG.32.P5' | translate}}</p>
      </div>
      <div class="col-md-9">
        <img src="../../../../../resources/blog/31/04.png" alt="{{'BLOG.32.I4_ALT' | translate}}" class="img-fluid img-shadow rounded">
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 id="další-nezbytné-věci-pro-nastaveni-rezervacniho-systemu">{{'BLOG.32.T6' | translate}}</h3>
        <p>{{'BLOG.32.P6' | translate}}</p>
      </div>
    </div>
  </section>

</app-blog-template-cs>
