<app-blog-template-cs blogId="22" date="6.8.2023" title="{{'BLOG.22.TITLE' | translate}}">

  <p>{{'BLOG.22.P1' | translate}}</p>

  <h2>{{'BLOG.22.H1' | translate}}</h2>

  <p [innerHTML]="'BLOG.22.P2' | translate"></p>

  <h2>{{'BLOG.22.H2' | translate}}</h2>

  <p [innerHTML]="'BLOG.22.P3' | translate"></p>
  <p [innerHTML]="'BLOG.22.P4' | translate"></p>

  <h2>{{'BLOG.22.H3' | translate}}</h2>

  <ul>
    <p [innerHTML]="'BLOG.22.L1' | translate"></p>
    <p [innerHTML]="'BLOG.22.L2' | translate"></p>
    <li>{{'BLOG.22.L3' | translate}}</li>
    <li>{{'BLOG.22.L4' | translate}}</li>
    <li>{{'BLOG.22.L5' | translate}}</li>
    <li>{{'BLOG.22.L6' | translate}}</li>
    <li>{{'BLOG.22.L7' | translate}}</li>
    <li>{{'BLOG.22.L8' | translate}}</li>
    <li>{{'BLOG.22.L9' | translate}}</li>
    <li>{{'BLOG.22.L10' | translate}}</li>
  </ul>

  <h2>{{'BLOG.22.H4' | translate}}</h2>

  <p [innerHTML]="'BLOG.22.P5' | translate"></p>

  <h3>{{'BLOG.22.H5' | translate}}</h3>

  <p>{{'BLOG.22.P6' | translate}}</p>

</app-blog-template-cs>
