<app-blog-template-cs blogId="08" date="13.12.2022" title="{{'BLOG.08.HEADER.TITLE' | translate}}">

  <section class="container mt-5">
    <p class="lead">
      {{'BLOG.08.S1.P1' | translate}}
    </p>
  </section>

  <section class="container mt-4">
    <h2>{{'BLOG.08.S2.H1' | translate}}</h2>
    <p>
      {{'BLOG.08.S2.P1' | translate}}
    </p>

    <img src="../../../../../resources/intro/frame/payment-portal.png" alt="{{'BLOG.08.S2.IMG_ALT' | translate}}" class="img-fluid rounded mx-auto d-block">
    <br>
    <p class="mt-3">
      {{'BLOG.08.S2.P2' | translate}}
    </p>
  </section>

  <section class="container mt-4">
    <h2>{{'BLOG.08.S3.H1' | translate}}</h2>
    <p [innerHTML]="'BLOG.08.S3.P1' | translate">
    </p>

    <p class="mt-3">
      {{'BLOG.08.S3.P2' | translate}}
    </p>
  </section>

  <section class="container mt-4">
    <h2>{{'BLOG.08.S4.H1' | translate}}</h2>
    <p>
      {{'BLOG.08.S4.P1' | translate}}
    </p>

    <p class="mt-3">
      {{'BLOG.08.S4.P2' | translate}}
    </p>
  </section>

</app-blog-template-cs>
