<h1><i class="fas fa-graduation-cap"></i> &nbsp; <b>{{'FAQ.INTRO.TITLE' | translate}}</b></h1>

<!--<h6 [innerHTML]="'FAQ.INTRO.LABEL0' | translate"></h6>-->
<div class="row">
  <app-video-tutorial
    btnType="img"
    label="FAQ.INTRO.LABEL0"
    videoSrc="https://www.youtube.com/embed/3LhsTBMwlTg"
  ></app-video-tutorial>
  <app-video-tutorial
    btnType="img"
    label="FAQ.INTRO.LABEL1"
    videoSrc="https://www.youtube.com/embed/gSiKNTVT7n8"
  ></app-video-tutorial>

  <app-video-tutorial
    btnType="img"
    label="FAQ.INTRO.LABEL2"
    videoSrc="https://www.youtube.com/embed/STYdlM1TlT8"
  ></app-video-tutorial>

  <app-video-tutorial
    btnType="img"
    label="FAQ.INTRO.LABEL3"
    videoSrc="https://www.youtube.com/embed/Lt1Q_6R94TA"
  ></app-video-tutorial>

  <app-video-tutorial
    btnType="img"
    label="FAQ.INTRO.LABEL4"
    videoSrc="https://www.youtube.com/embed/P-jUaEgK-ow"
  ></app-video-tutorial>

  <app-video-tutorial
    btnType="img"
    label="FAQ.INTRO.LABEL5"
    videoSrc="https://www.youtube.com/embed/Z8nRzHw-Br8"
  ></app-video-tutorial>
  <app-video-tutorial
    btnType="img"
    label="FAQ.INTRO.LABEL6"
    videoSrc="https://www.youtube.com/embed/CtGUzW1QDkg"
  ></app-video-tutorial>
</div>
<!--<h6 [innerHTML]="'FAQ.INTRO.LABEL2' | translate"></h6>-->

<!--<iframe-->
<!--  width="950"-->
<!--  height="556"-->
<!--  style="border-radius: 10px;"-->
<!--  src="https://www.youtube.com/embed/gSiKNTVT7n8"-->
<!--  frameborder="0"-->
<!--  allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--  allowfullscreen></iframe>-->


<!--<h6 [innerHTML]="'FAQ.INTRO.LABEL3' | translate"></h6>-->

<!--<iframe-->
<!--  width="950"-->
<!--  height="556"-->
<!--  style="border-radius: 10px;"-->
<!--  src="https://www.youtube.com/embed/Z8nRzHw-Br8"-->
<!--  frameborder="0"-->
<!--  allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--  allowfullscreen></iframe>-->


<!--<h6 [innerHTML]="'FAQ.INTRO.LABEL3' | translate"></h6>-->

<!--<iframe-->
<!--  width="950"-->
<!--  height="556"-->
<!--  style="border-radius: 10px;"-->
<!--  src="https://www.youtube.com/embed/Z8nRzHw-Br8"-->
<!--  frameborder="0"-->
<!--  allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--  allowfullscreen></iframe>-->
