<app-intro-item-revert
  bgType="BLUE"
  img="../../../../resources/intro/form-adjustment.png"
  alt="reservation form adjustmet example"
  imgClass="rounded img-responsive"
  title1="INTRO.FORM_ADJUSTMENT.TITLE1"
  title2="INTRO.FORM_ADJUSTMENT.TITLE2"
  label1="INTRO.FORM_ADJUSTMENT.LABEL1"
  label2="INTRO.FORM_ADJUSTMENT.LABEL2"
  [link]="'/blog/' + languageService.language + '/configurable-booking-form'"
  linkClass="btn btn-link btn-link-white"
  linkLabel="INTRO.WHY_US.MORE"
>
</app-intro-item-revert>


