<app-blog-template blogId="44" date="1.8.2023">

  <h1>{{'BLOG.44.T1' | translate}}</h1>

  <p>{{'BLOG.44.L1' | translate}}</p>

  <h2>{{'BLOG.44.T2' | translate}}</h2>

  <p>{{'BLOG.44.L2' | translate}}</p>

  <h2>{{'BLOG.44.T3' | translate}}</h2>

  <p>{{'BLOG.44.L3' | translate}}</p>

  <p>{{'BLOG.44.L4' | translate}}</p>

  <p [innerHTML]="'BLOG.44.L5' | translate"></p>

  <h2>{{'BLOG.44.T4' | translate}}</h2>

  <p>{{'BLOG.44.L7' | translate}}</p>

  <ol>
    <li><strong>{{'BLOG.44.L8' | translate}}</strong>: {{'BLOG.44.L9' | translate}}</li>
    <li><strong>{{'BLOG.44.L10' | translate}}</strong>: {{'BLOG.44.L11' | translate}}</li>
    <li><strong>{{'BLOG.44.L12' | translate}}</strong>: {{'BLOG.44.L13' | translate}}</li>
  </ol>

  <h2>{{'BLOG.44.T5' | translate}}</h2>

  <p>{{'BLOG.44.L4' | translate}}</p>

</app-blog-template>
