<app-intro-item-revert
  [alt]="'INTRO.CUSTOMER.TITLE1' | translate"
  img="../../../../resources/intro/google-contacts.png"
  imgClass="img-responsive rounded"
  item1="INTRO.CUSTOMER.LABEL1"
  item2="INTRO.CUSTOMER.LABEL2"
  item3="INTRO.CUSTOMER.LABEL3"
  item4="INTRO.CUSTOMER.LABEL4"
  title1="INTRO.CUSTOMER.TITLE1"
  title2="INTRO.CUSTOMER.TITLE3"
></app-intro-item-revert>

<div class="col-12 bg-white" style="white-space: pre-line;">
  <br>
  <br>
  <div class="container">
    <h4>{{'INTRO.CUSTOMER.TITLE4' | translate}}</h4>
    <h6>{{'INTRO.CUSTOMER.LABEL5' | translate}}</h6>
    <h6>{{'INTRO.CUSTOMER.LABEL6' | translate}}</h6>
  </div>
  <br>
  <div class="row" style="height: 55vh;">
    <div class="offset-xl-2 col-xl-8 offset-1 col-10">
      <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              frameborder="0"
              src="https://www.youtube.com/embed/tyshWczx_LM"
              style="border-radius: 10px; width: 100%; height: 100%;"></iframe>
      <br>

    </div>
  </div>
  <br>
  <br>
</div>

