<app-blog-template-cs blogId="25" date="12.8.2023"
                      title="{{'BLOG.25.T1' | translate}}">

  <p>
    {{'BLOG.25.L1' | translate}}
  </p>

  <br><br><br>
  <h2>{{'BLOG.25.H1' | translate}}</h2>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>{{'BLOG.25.TABLE.T1' | translate}}</th>
      <th>{{'BLOG.25.TABLE.T2' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><a href="https://www.notado.cz/home">{{'BLOG.25.TABLE.LINK1' | translate}}</a></td>
      <td>{{'BLOG.25.TABLE.L1' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://www.sdiary.cz/">{{'BLOG.25.TABLE.LINK2' | translate}}</a></td>
      <td>{{'BLOG.25.TABLE.L2' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://reservanto.cz/">{{'BLOG.25.TABLE.LINK3' | translate}}</a></td>
      <td>{{'BLOG.25.TABLE.L3' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://reenio.cz/">{{'BLOG.25.TABLE.LINK4' | translate}}</a></td>
      <td>{{'BLOG.25.TABLE.L4' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://www.myfox.one/cs/">{{'BLOG.25.TABLE.LINK5' | translate}}</a></td>
      <td>{{'BLOG.25.TABLE.L5' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://www.reservio.com/cs">{{'BLOG.25.TABLE.LINK6' | translate}}</a></td>
      <td>{{'BLOG.25.TABLE.L6' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://fitness-rezervace.cz/">{{'BLOG.25.TABLE.LINK7' | translate}}</a></td>
      <td>{{'BLOG.25.TABLE.L7' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://noona.app/hq/cs">{{'BLOG.25.TABLE.LINK8' | translate}}</a></td>
      <td>{{'BLOG.25.TABLE.L8' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://www.supersaas.cz/">{{'BLOG.25.TABLE.LINK9' | translate}}</a></td>
      <td>{{'BLOG.25.TABLE.L9' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://www.onlinetermin.cz/">{{'BLOG.25.TABLE.LINK10' | translate}}</a></td>
      <td>{{'BLOG.25.TABLE.L10' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://www.rezervator.cz/">{{'BLOG.25.TABLE.LINK11' | translate}}</a></td>
      <td>{{'BLOG.25.TABLE.L11' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://www.termino.eu/">{{'BLOG.25.TABLE.LINK12' | translate}}</a></td>
      <td>{{'BLOG.25.TABLE.L12' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://rezeo.cz/">{{'BLOG.25.TABLE.LINK13' | translate}}</a></td>
      <td>{{'BLOG.25.TABLE.L13' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://calendiari.com/cs">{{'BLOG.25.TABLE.LINK14' | translate}}</a></td>
      <td>{{'BLOG.25.TABLE.L14' | translate}}</td>
    </tr>
    </tbody>
  </table>
  <br><br><br>
<!--  <h2>{{'BLOG.25.H2' | translate}}</h2>-->

<!--  <table class="table table-bordered table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>{{'BLOG.25.FEATURE.TABLE.T1' | translate}}</th>-->
<!--      <th><a href="https://www.notado.cz/home">{{'BLOG.25.FEATURE.LINK1' | translate}}</a></th>-->
<!--      <th><a href="https://www.sdiary.cz/">{{'BLOG.25.FEATURE.LINK2' | translate}}</a></th>-->
<!--      <th><a href="https://reservanto.cz/">{{'BLOG.25.FEATURE.LINK3' | translate}}</a></th>-->
<!--      <th><a href="https://reenio.cz/">{{'BLOG.25.FEATURE.LINK4' | translate}}</a></th>-->
<!--      <th><a href="https://www.myfox.one/cs/">{{'BLOG.25.FEATURE.LINK5' | translate}}</a></th>-->
<!--      <th><a href="https://www.reservio.com/cs">{{'BLOG.25.FEATURE.LINK6' | translate}}</a></th>-->
<!--      <th><a href="https://fitness-rezervace.cz/">{{'BLOG.25.FEATURE.LINK7' | translate}}</a></th>-->
<!--      <th><a href="https://noona.app/hq/cs">{{'BLOG.25.FEATURE.LINK8' | translate}}</a></th>-->
<!--      <th><a href="https://www.supersaas.cz/">{{'BLOG.25.FEATURE.LINK9' | translate}}</a></th>-->
<!--      <th><a href="https://www.onlinetermin.cz/">{{'BLOG.25.FEATURE.LINK10' | translate}}</a></th>-->
<!--      <th><a href="https://www.rezervator.cz/">{{'BLOG.25.FEATURE.LINK11' | translate}}</a></th>-->
<!--      <th><a href="https://www.termino.eu/">{{'BLOG.25.FEATURE.LINK12' | translate}}</a></th>-->
<!--      <th><a href="https://rezeo.cz/">{{'BLOG.25.FEATURE.LINK13' | translate}}</a></th>-->
<!--      <th><a href="https://calendiari.com/cs">{{'BLOG.25.FEATURE.LINK14' | translate}}</a></th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--      <td>{{'BLOG.25.FEATURE.F1' | translate}}</td>-->
<!--      <td>{{'BLOG.25.FEATURE.V1.1' | translate}}</td>-->
<!--      <td>{{'BLOG.25.FEATURE.V1.2' | translate}}</td>-->
<!--      <td>{{'BLOG.25.FEATURE.V1.3' | translate}}</td>-->
<!--      <td>{{'BLOG.25.FEATURE.V1.4' | translate}}</td>-->
<!--      <td>{{'BLOG.25.FEATURE.V1.5' | translate}}</td>-->
<!--      <td>{{'BLOG.25.FEATURE.V1.6' | translate}}</td>-->
<!--      <td>{{'BLOG.25.FEATURE.V1.7' | translate}}</td>-->
<!--      <td>{{'BLOG.25.FEATURE.V1.8' | translate}}</td>-->
<!--      <td>{{'BLOG.25.FEATURE.V1.9' | translate}}</td>-->
<!--      <td>{{'BLOG.25.FEATURE.V1.10' | translate}}</td>-->
<!--      <td>{{'BLOG.25.FEATURE.V1.11' | translate}}</td>-->
<!--      <td>{{'BLOG.25.FEATURE.V1.12' | translate}}</td>-->
<!--      <td>{{'BLOG.25.FEATURE.V1.13' | translate}}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--  <br><br><br>-->
<!--  <h2>{{'BLOG.25.H3' | translate}}</h2>-->
<!--  <section class="mb-5">-->
<!--    <div class="row">-->
<!--      <div class="col-md-3">-->
<!--        <img src="https://www.notado.cz/resources/logo-big.png" alt="{{'BLOG.25.DETAILS.NOTADO.IMAGE_ALT' | translate}}" width="80" class="img-fluid">-->
<!--      </div>-->
<!--      <div class="col-md-9">-->
<!--        <h2><a href="https://www.notado.cz/home">{{'BLOG.25.DETAILS.NOTADO.TITLE' | translate}}</a></h2>-->
<!--        <p>{{'BLOG.25.DETAILS.NOTADO.DESCRIPTION' | translate}}</p>-->
<!--        <p><strong>{{'BLOG.25.DETAILS.NOTADO.PRICE_LABEL' | translate}}</strong> {{'BLOG.25.DETAILS.NOTADO.PRICE' | translate}}</p>-->
<!--        <p><strong>{{'BLOG.25.DETAILS.NOTADO.FEATURES_LABEL' | translate}}</strong></p>-->
<!--        <ul>-->
<!--          <li>{{'BLOG.25.DETAILS.NOTADO.FEATURE1' | translate}}</li>-->
<!--          <li>{{'BLOG.25.DETAILS.NOTADO.FEATURE2' | translate}}</li>-->
<!--          <li>{{'BLOG.25.DETAILS.NOTADO.FEATURE3' | translate}}</li>-->
<!--          <li>{{'BLOG.25.DETAILS.NOTADO.FEATURE4' | translate}}</li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
</app-blog-template-cs>
