<div class="container">
  <br>
  <br>

  <div class="row">

    <br>
    <br>
    <br>
    <br>

    <div class="offset-1 col-10">
      <a class="nav-link-blue nav-link" href="https://www.notado.cz/faq/cs/intro" target="_blank"><i class="far fa-question-circle"></i> &nbsp;
        <span
          style="font-size: 1.1em">{{'DASHBOARD.MENU.FAQ' | translate}}</span>
        <br>
        <p class="text-grey" style="font-size: 0.9em; position: relative; left: 27px;">
          {{'DASHBOARD.MENU.FAQ_DESC' | translate}}
        </p>
      </a>
    </div>

    <div class="offset-1 col-10">

      <a class="nav-link-blue nav-link" routerLink="/dashboard/dashboard-contact"><i class="fas fa-id-card"></i> &nbsp;
        <span
          style="font-size: 1.1em">{{'DASHBOARD.MENU.CONTACT' | translate}}</span>
        <br>
        <p class="text-grey" style="font-size: 0.9em; position: relative; left: 27px;">
          {{'DASHBOARD.MENU.CONTACT_DESC' | translate}}
        </p>
      </a>
    </div>

    <div class="offset-1 col-10">
      <a class="nav-link-blue nav-link" routerLink="/dashboard/dashboard-feedback"><i
        class="far fa-star"></i> &nbsp;
        <span
          style="font-size: 1.1em">{{'DASHBOARD.MENU.FEEDBACK' | translate}}</span>
        <br>
        <p class="text-grey" style="font-size: 0.9em; position: relative; left: 27px;">
          {{'DASHBOARD.MENU.FEEDBACK_DESC' | translate}}
        </p>
      </a>
    </div>

    <div class="offset-1 col-10">
      <a class="nav-link-blue nav-link" routerLink="/dashboard/licence"><i class="fa fa-file-text"></i> &nbsp;
        <span
          style="font-size: 1.1em"> {{'FOOTER.LICENCE' | translate}}</span>
      </a>
    </div>

    <div class="offset-1 col-10">
      <a class="nav-link-blue nav-link" routerLink="/dashboard/privacy-policy"><i class="fas fa-user-shield"></i> &nbsp;
        <span
          style="font-size: 1.1em">{{'FOOTER.GDPR' | translate}}</span>
      </a>
    </div>
  </div>
  <br>
  <br>

</div>
