<app-blog-template-cs blogId="34" date="29.9.2023"
                      [faq]="faq"
                      [readMore]="readMore"
                      title="{{'BLOG.34.TITLE' | translate}}">

  <div class="summary">
    <p>{{'BLOG.34.SUMMARY' | translate}}</p>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.34.Q1' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.34.A1' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.34.Q2' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.34.A2' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.34.Q3' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.34.A3' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.34.Q4' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.34.A4' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.34.Q5' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.34.A5' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.34.Q6' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.34.A6' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.34.Q7' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.34.A7' | translate}}
    </div>
  </div>

</app-blog-template-cs>
