<br>
<br>
<div class="row">

  <div class="offset-1 col-xl-3 col-md-4 col-sm-5" style="margin-right: 20px;">
    <a class="nav-link-blue nav-link" [routerLink]="'/intro/' + languageService.language + '/management-on-google'">
      <i class="fab fa-google"></i> &nbsp;
      <span
        style="font-size: 1.1em">{{ 'MENU_WHAT_WE_KNOW.GOOGLE' | translate }}</span>
      <br>
      <p class="text-grey" style="font-size: 0.9em; position: relative; left: 27px;">
        {{ 'MENU_WHAT_WE_KNOW.GOOGLE_DESC' | translate }}
      </p>
    </a>
  </div>


  <div class="offset-md-0 offset-1 col-xl-3 col-md-4 col-sm-5" style="margin-right: 20px;">
    <a class="nav-link-blue nav-link" [routerLink]="'/intro/' + languageService.language + '/online-reservation'">
      <i class="far fa-calendar-check"></i> &nbsp;
      <span
        style="font-size: 1.1em">{{ 'MENU_WHAT_WE_KNOW.ONLINE_BOOKING' | translate }}</span>
      <br>
      <p class="text-grey" style="font-size: 0.9em; position: relative; left: 27px;">
        {{ 'MENU_WHAT_WE_KNOW.ONLINE_BOOKING_DESC' | translate }}
      </p>
    </a>
  </div>

  <div class="offset-xl-0 offset-1 col-xl-3 col-md-4 col-sm-5" style="margin-right: 20px;">
    <a class="nav-link-blue nav-link" [routerLink]="'/intro/' + languageService.language + '/intro-google-contacts'">
      <i class="fas fa-users"></i> &nbsp;
      <span
        style="font-size: 1.1em">{{ 'MENU_WHAT_WE_KNOW.CUSTOMER' | translate }}</span>
      <br>
      <p class="text-grey" style="font-size: 0.9em; position: relative; left: 27px;">
        {{ 'MENU_WHAT_WE_KNOW.CUSTOMER_DESC' | translate }}
      </p>
    </a>

  </div>

</div>
<div class="row">
  <div class="offset-1 col-xl-3 col-md-4 col-sm-5" style="margin-right: 20px;">
    <a class="nav-link-blue nav-link" [routerLink]="'/intro/' + languageService.language + '/notification'">
      <i class="far fa-comment-dots"></i>&nbsp;
      <span
        style="font-size: 1.1em">{{ 'MENU_WHAT_WE_KNOW.NOTIFICATION' | translate }}</span>
      <br>
      <p class="text-grey" style="font-size: 0.9em; position: relative; left: 27px;">
        {{ 'MENU_WHAT_WE_KNOW.NOTIFICATION_DESC' | translate }}
      </p>
    </a>

  </div>

<!--  <div class="col-xl-3 col-md-4 col-sm-5" style="margin-right: 20px;" *ngIf="false" >-->
<!--    <a class="nav-link-blue nav-link" [routerLink]="'/intro/' + languageService.language + '/public-api'">-->
<!--      <i class="fas fa-code"></i>-->
<!--      &nbsp;-->
<!--      <span-->
<!--        style="font-size: 1.1em">API-->
<!--      </span>-->
<!--      <br>-->
<!--      <p class="text-grey" style="font-size: 0.9em; position: relative; left: 27px;">-->
<!--        {{ 'MENU_WHAT_WE_KNOW.API_DESC' | translate }}-->
<!--      </p>-->
<!--    </a>-->
<!--  </div>-->

  <div class=" offset-md-0 offset-1 col-xl-3 col-md-4 col-sm-5" style="margin-right: 20px;">
    <a class="nav-link-blue nav-link" [routerLink]="'/intro/' + languageService.language + '/integration'">
      <i class="fas fa-plug "></i>
      <span
        style="font-size: 1.1em">
        {{ 'MENU_WHAT_WE_KNOW.INTEGRATE' | translate}}</span>
      <br>
      <p class="text-grey" style="font-size: 0.9em; position: relative; left: 27px;">
        {{ 'INTRO.INTEGRATION.LABEL2' | translate }}
      </p>
    </a>

  </div>
  <div class="d-none d-md-block offset-xl-0 offset-1 col-xl-3 col-md-4 col-sm-5" style="margin-right: 20px;">
    <a class="nav-link-blue nav-link" [routerLink]="'/intro/' + languageService.language + '/way-how-to-use'">
      <i class="fas fa-calendar-alt"></i>
      &nbsp;
      <span
        style="font-size: 1.1em">{{ 'MENU_WHAT_WE_KNOW.WAY_HOW_USE_IT' | translate }}</span>
      <br>
      <p class="text-grey" style="font-size: 0.9em; position: relative; left: 27px;">
        {{ 'MENU_WHAT_WE_KNOW.WAY_HOW_USE_IT_DESC' | translate }}
      </p>
    </a>

  </div>
<!--  <div class="d-none d-md-block offset-xl-0 offset-1 col-xl-3 col-md-4 col-sm-5" style="margin-right: 20px;">-->
<!--    <a class="nav-link-blue nav-link" [routerLink]="'/intro/' + languageService.language + '/faq-menu'">-->
<!--      <i class="far fa-question-circle"></i>-->
<!--      &nbsp;-->
<!--      <span-->
<!--        style="font-size: 1.1em">{{ 'MENU_WHAT_WE_KNOW.FAQ' | translate }}</span>-->
<!--      <br>-->
<!--      <p class="text-grey" style="font-size: 0.9em; position: relative; left: 27px;">-->
<!--        {{ 'MENU_WHAT_WE_KNOW.FAQ_DESC' | translate }}-->
<!--      </p>-->
<!--    </a>-->

<!--  </div>-->

</div>
<br>
