<div class="container text-center text-danger">
    <br>
    <br>
    <br>
    <h1><i class="fa fa-frown-o" aria-hidden="true"></i></h1>
    <br>

    <h4 class="text-danger"> {{'COMMON.PAGE_ERROR' | translate}} </h4>
    <br>
    <br>

    <button class="btn btn-outline-danger text-uppercase" (click)="refresh()"><i class="fa fa-refresh"
                                                                                 aria-hidden="true"></i>
      {{'COMMON.RESTART_PAGE_BUTTON' | translate}}
    </button>
</div>
