<app-blog-template blogId="38" date="12.8.2023" [faq]="faq" [readMore]="readMore"
                   title="38">

  <p>
    {{'BLOG.38.L1' | translate}}
  </p>

  <p>    {{'BLOG.38.L2' | translate}}
  </p>
  <p>    {{'BLOG.38.L3' | translate}}
  </p>
  <ul [innerHTML]="'BLOG.38.I1' | translate">
  </ul>
  <p>    {{'BLOG.38.L4' | translate}}
  </p>
  <p>    {{'BLOG.38.L5' | translate}}
  </p>

  <ul [innerHTML]="'BLOG.38.I2' | translate">
  </ul>

  <p>    {{'BLOG.38.L6' | translate}}
  </p>

  <ul [innerHTML]="'BLOG.38.I2' | translate">
  </ul>

  <p>    {{'BLOG.38.L7' | translate}}
  </p>

  <p>    {{'BLOG.38.L8' | translate}}
  </p>
</app-blog-template>


