.bg {
  /*background: url('../../../../resources/intro/bg-google.jpg') no-repeat scroll top center;*/
  /*background-size: cover;*/
}



@media (max-width: 576px) {
  .notadoIframeDemo {
    width: 100%;
  }

  .notadoButtonHideDemo {
    right: 90vw;
  }
}

@media (min-width: 576px) {
  .notadoIframeDemo {
    width: 90vw;
  }

  .notadoButtonHideDemo {
    right: 90vw;
  }
}

@media (min-width: 650px) {
  .notadoIframeDemo {
    width: 90vw;
  }

  .notadoButtonHideDemo {
    right: 90vw;
  }
}

@media (min-width: 800px) {
  .notadoIframeDemo {
    width: 70vw;
  }

  .notadoButtonHideDemo {
    right: 70vw;
  }
}

@media (min-width: 1000px) {
  .notadoIframeDemo {
    width: 70vw;
  }

  .notadoButtonHideDemo {
    right: 70vw;
  }
}

@media (min-width: 1200px) {
  .notadoIframeDemo {
    width: 45vw;
  }

  .notadoButtonHideDemo {
    right: 45vw;
  }
}

@media (min-width: 1400px) {
  .notadoIframeDemo {
    width: 45vw;
  }

  .notadoButtonHideDemo {
    right: 45vw;
  }
}
