<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-8">

      <h3 class="text-blue offset-md-1">Notado: significant release notes</h3>
      <br>
      <br>

      <app-release-note-item
        version="1.1.121"
        label="i18n integrations"></app-release-note-item>

      <app-release-note-item
        version="1.1.120"
        label="Google contacts integration"></app-release-note-item>

      <app-release-note-item
        version="1.1.118"
        label="Option to add multiple business"></app-release-note-item>

      <app-release-note-item
        version="1.1.117"
        label="Option to add phone num in reservation phone"></app-release-note-item>

      <app-release-note-item
        version="1.1.113"
        label="Redesign navigation menu"></app-release-note-item>

      <app-release-note-item
        version="0.1.85"
        label="Notado free for some businesses"></app-release-note-item>

      <app-release-note-item
        version="0.1.84"
        label="Automatic image compression"></app-release-note-item>

      <app-release-note-item
        version="0.1.83"
        label="Intro page redesign"></app-release-note-item>

      <app-release-note-item
        version="0.1.80"
        label="Performance of frontend app increased by cca 70%"></app-release-note-item>

      <app-release-note-item
        version="0.1.46"
        label="Massive refactoring"></app-release-note-item>

      <app-release-note-item
        version="0.1.30"
        label="Getting google licence for calendar connection"></app-release-note-item>

      <app-release-note-item
        version="0.1.26"
        label="Update to Angular 9.0.1"></app-release-note-item>


      <app-release-note-item
        version="0.1.10"
        label="Break between services"></app-release-note-item>

      <app-release-note-item
        version="0.1.0"
        label="First public release!"></app-release-note-item>

      <app-release-note-item
        version="0.0.25"
        label="Notado is now connectable with google calendar"></app-release-note-item>

      <app-release-note-item
        version="0.0.8"
        label="Possibility to create employees and services"></app-release-note-item>

      <app-release-note-item
        version="0.0.1"
        label="Basic architecture of the application"></app-release-note-item>

    </div>

    <div class="col-md-4 text-center d-none d-md-block ">

      <img src="../resources/intro/release.png" style="width:350px; position: relative; bottom: 30px;">


    </div>

  </div>

</div>




