<app-blog-template-cs blogId="26" date="13.12.2022" title="{{'BLOG.26.TITLE' | translate}}">

  <section class="container mt-5">
    <p>
      {{'BLOG.26.P1' | translate}}<strong>{{'BLOG.26.P1.S1' | translate}}</strong>{{'BLOG.26.P1.S2' | translate}}
    </p>
    <h2 class="mt-4">{{'BLOG.26.H1' | translate}}</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>{{'BLOG.26.V1.T' | translate}}</strong><br>
        {{'BLOG.26.V1.D' | translate}}
      </li>
      <li class="list-group-item">
        <strong>{{'BLOG.26.V2.T' | translate}}</strong><br>
        {{'BLOG.26.V2.D' | translate}}
      </li>
      <li class="list-group-item">
        <strong>{{'BLOG.26.V3.T' | translate}}</strong><br>
        {{'BLOG.26.V3.D' | translate}}
      </li>
      <li class="list-group-item">
        <strong>{{'BLOG.26.V4.T' | translate}}</strong><br>
        {{'BLOG.26.V4.D' | translate}}
      </li>
      <li class="list-group-item">
        <strong>{{'BLOG.26.V5.T' | translate}}</strong><br>
        {{'BLOG.26.V5.D' | translate}}
      </li>
    </ul>
  </section>

  <section class="container mt-5">
    <h2 class="mt-4">{{'BLOG.26.H2' | translate}}</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>{{'BLOG.26.N1.T' | translate}}</strong><br>
        {{'BLOG.26.N1.D' | translate}}
      </li>
      <li class="list-group-item">
        <strong>{{'BLOG.26.N2.T' | translate}}</strong><br>
        {{'BLOG.26.N2.D' | translate}}
      </li>
      <li class="list-group-item">
        <strong>{{'BLOG.26.N3.T' | translate}}</strong><br>
        {{'BLOG.26.N3.D' | translate}}
      </li>
    </ul>
  </section>

  <section class="container mt-5">
    <h2 class="mt-4">{{'BLOG.26.H3' | translate}}</h2>
    <p>
      {{'BLOG.26.P2' | translate}}<strong>{{'BLOG.26.P2.S1' | translate}}</strong>{{'BLOG.26.P2.S2' | translate}}
    </p>
  </section>

</app-blog-template-cs>
