.img-blog {
  max-width: 800px;
}
.img-blog-sm {
  max-width: 550px;
}

h2 {
  /*margin-top: 100px;*/
}

h4 {
  margin-top: 40px;
}


h5 {
  margin-top: 25px;
}

p {
  font-size: 1.4em;
}

li {
  font-size: 1.4em;

}
