<app-dashboard-card *ngIf="service && service.stripeCouponConfig" backLink="/dashboard-coupon">
  <app-dashboard-card-label [entityName]="service?.name"
                            label="DASHBOARD.SERVICE_ITEM.TITLE">
    <button (click)="modalService.open(codeForServiceModal, {size: 'lg'})"
            class="btn btn-outline-blue btn-sm">{{ 'DASHBOARD.SERVICE_ITEM.BUTTON' | translate }} {{ service.name }}
    </button>
  </app-dashboard-card-label>

  <div class="row">
    <div class="offset-1 col-10 " id="preview-service">
      <app-form-service-item-with-description-window
        *ngIf="service && service.active && formService.template"
        [window]="dashboardService.getServiceWindow()"
        serviceSize="BIG"
        [service]="service"
        style="cursor: not-allowed !important;"
        [formEditMode]="true"
      ></app-form-service-item-with-description-window>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-12 ">
      <ul class=" nav nav-tabs">
        <li class="nav-item">
          <a (click)="activeCard='BASIC'" [class.active]="activeCard =='BASIC'" aria-current="page"
             class="nav-link text-sm"><i class="fas fa-wrench"></i> {{ 'DASHBOARD.COMMON.BASIC' | translate }}</a>
        </li>
        <li class="nav-item">

          <a (click)="activeCard='ADVANCE'" [class.active]="activeCard =='ADVANCE'"
             class="nav-link text-sm"><i class="fas fa-cogs"></i> {{ 'DASHBOARD.COMMON.ADVANCE' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <br>


  <div *ngIf="activeCard == 'BASIC'" class="row">
    <div class="col-md-4 col-12 ">

      <!--UPLOAD IMG ========================================================================================= -->
      <div class="row">
        <button (click)="openImageModal()" class="offset-1 btn btn-outline btn-outline-blue btn-sm">
          {{ 'DASHBOARD.COMMON.ADD_IMAGE' | translate }} &nbsp; <i aria-hidden="true" class="fa fa-upload"></i>
        </button>
        <button *ngIf="service?.img"
                (click)="service.img = null; service.fullPathImg = null; deleteImg()"
                type="button"
                class="btn btn-link btn-link-gray btn-sm">
          <i class="far fa-trash-alt"></i></button>
      </div>
      <hr>

      <span>
        <div class="form-group" style="margin-bottom: 0px;">
          <label class="custom-control custom-checkbox">
            <input [(ngModel)]="couponUsageType"
                   [checked]="couponUsageType === 'ONE_TIME_COUPON'"
                   class="form-check-input checkbox-lg"
                   id="ONE_TIME_COUPON"
                   name="ONE_TIME_COUPON"
                   style="position: relative; left: 0px;"
                   type="radio"
                   value="ONE_TIME_COUPON">

            <span class="custom-control-description"
                  style="position: relative; left: 10px; bottom: 5px;">{{ 'DASHBOARD.COUPON.ONE_TIME_COUPON' | translate }}</span>
          </label>
        </div>
        <div class="form-group" style="margin-bottom: 0px;">

          <label class="custom-control custom-checkbox">
            <input [(ngModel)]="couponUsageType"
                   [checked]="couponUsageType === 'MULTIPLE_TIME_COUPON'"
                   class="form-check-input checkbox-lg"
                   id="MULTIPLE_TIME_COUPON"
                   name="MULTIPLE_TIME_COUPON"
                   style="position: relative; left: 0px;"
                   type="radio"
                   value="MULTIPLE_TIME_COUPON">

            <span class="custom-control-description"
                  style="position: relative; left: 10px; bottom: 5px;">{{ 'DASHBOARD.COUPON.MULTIPLE_TIME_COUPON' | translate }}
            </span>
          </label>
        </div>
      </span>
      <div class="form-group">
        <label>{{
            'DASHBOARD.COUPON.MULTIPLE_TIME_COUPON_NO'
              | translate
          }}</label>
        <div class="row">
          <div class="input-group col-9">
            <input #capacity="ngModel" [(ngModel)]="service.stripeCouponConfig.noOfUsage"
                   [disabled]="couponUsageType === 'ONE_TIME_COUPON'"
                   class="form-control text-right"
                   id="coupon_no_of_usages"
                   min="2"
                   name="capacity"
                   placeholder="10"
                   type="number">
            <div class="input-group-append">
              <div class="input-group-text">{{ 'DASHBOARD.COUPON.TIMES' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--2 COLUMN ============================================================================================ -->
    <div class="offset-md-1 col-md-7 col-12">

      <form #form="ngForm" (ngSubmit)="saveService()">
        <!--NAME ============================================================================================ -->
        <hr class="d-block d-md-none">

        <div class="form-group">
          <label>{{ 'DASHBOARD.COUPON.STRIPE_PRICE_COUPON' | translate }}*</label>
          <label *ngIf="service.stripeCouponId" class="pull-right"> <a target="_blank"
                                                                       [href]="'https://dashboard.stripe.com/coupons/' + service.stripeCouponId">
            <i class="fab fa-stripe" style="font-size: 1.7em; position: relative; top: 4px;"></i> &nbsp;<i
            class="fas fa-arrow-right " style="font-size: 0.8em"></i>
          </a></label>
          <div class="input-group">
            <input [ngModel]="service.name"
                   [placeholder]="service.name"
                   [class.is-invalid]="(!service.name  || service.name === '') && showValidation"
                   [class.is-valid]="service.name  && service.name !== ''"

                   class="form-control text-right radius-right-none"
                   disabled
                   required
                   #stripeCouponName="ngModel"
                   id="stripeCouponNameDropdown"
                   name="stripeCouponName"
                   type="text">
            <div class="input-group-append" ngbDropdown>
              <button class="btn btn-outline-secondary btn-sm" id="dropdownMenuLinkToSelectStripeCoupon"
                      ngbDropdownToggle
                      placement="bottom"
                      style="margin-left: 4px;"
                      type="button">
              </button>
              <div aria-labelledby="dropdownMenuLinkToSelectStripeCoupon" ngbDropdownMenu>
                  <span *ngFor="let stripeCoupon of stripeCoupons">
                    <button (click)="service.stripeCouponId = stripeCoupon.id; service.name = stripeCoupon.name"
                            class="dropdown-item" ngbDropdownItem
                            [id]="stripeCoupon.id"
                            type="button">{{ stripeCoupon.name }}</button>
                  </span>
              </div>
              <a class="btn btn-link-blue btn-sm pull-right"
                 (click)="loadCoupons()"
                 style="margin-top: 3px;">
                <i class="fas fa-sync-alt"></i>
              </a>

            </div>
          </div>
        </div>

        <app-stripe-price-dropdown
          label="DASHBOARD.COUPON.STRIPE_PRICE"
          [priceId]="stripeIntegrationService.getStripeIntegrationBusinessConfig(service.id).price"
          [showValidation]="showValidation"
          (loadPriceAction)="loadPrice($event)"
          (selectPriceAction)="setPrice($event)">
        </app-stripe-price-dropdown>
        <hr>

        <span>
        <label>{{ 'DASHBOARD.COUPON.VALIDITY_TYPE_DESC' | translate }}</label>

        <div class="form-group" style="margin-bottom: 0px;">
          <label class="custom-control custom-checkbox">
            <input [(ngModel)]="service.stripeCouponConfig.validityType"
                   [checked]="service.stripeCouponConfig.validityType === couponValidityType.NO_LIMIT"
                   class="form-check-input checkbox-lg"
                   id="NO_LIMIT"
                   name="NO_LIMIT"
                   style="position: relative; left: 0px;"
                   type="radio"
                   value="NO_LIMIT">

            <span class="custom-control-description"
                  style="position: relative; left: 10px; bottom: 5px;">{{ 'DASHBOARD.COUPON.NO_LIMIT' | translate }}</span>
          </label>
        </div>
        <div class="form-group" style="margin-bottom: 0px;">
          <label class="custom-control custom-checkbox">
            <input [(ngModel)]="service.stripeCouponConfig.validityType"
                   [checked]="service.stripeCouponConfig.validityType === couponValidityType.TILL_X_MONTHS_FROM_PURCHASE"
                   class="form-check-input checkbox-lg"
                   id="TILL_X_MONTHS_FROM_PURCHASE"
                   name="TILL_X_MONTHS_FROM_PURCHASE"
                   style="position: relative; left: 0px;"
                   type="radio"
                   value="TILL_X_MONTHS_FROM_PURCHASE">

            <span class="custom-control-description"
                  style="position: relative; left: 10px; bottom: 5px;">{{ 'DASHBOARD.COUPON.TILL_X_MONTHS_FROM_PURCHASE' | translate }}</span>
            <div class="form-group"
                 *ngIf="service.stripeCouponConfig.validityType === couponValidityType.TILL_X_MONTHS_FROM_PURCHASE">
          <div class="row">
            <div class="input-group col-9">
              <input
                [(ngModel)]="service.stripeCouponConfig.validTill.month"
                class="form-control text-right"
                id="coupon-valid-till-month"
                min="+"
                name="validTill"
                placeholder="10"
                type="number">
              <div class="input-group-append">
                <div class="input-group-text">{{ 'DASHBOARD.COUPON.MONTH' | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
          </label>
        </div>
        <div class="form-group" style="margin-bottom: 0px;">

        <label class="custom-control custom-checkbox">
            <input [(ngModel)]="service.stripeCouponConfig.validityType"
                   [checked]="service.stripeCouponConfig.validityType === couponValidityType.TILL_DATE"
                   class="form-check-input checkbox-lg"
                   id="TILL_DATE"
                   name="TILL_DATE"
                   style="position: relative; left: 0px;"
                   type="radio"
                   value="TILL_DATE">

            <span class="custom-control-description"
                  style="position: relative; left: 10px; bottom: 5px;">{{ 'DASHBOARD.COUPON.TILL_DATE' | translate }}
            </span>
                    <div class="form-group"
                         *ngIf="service.stripeCouponConfig.validityType === couponValidityType.TILL_DATE">
          <div class="col-12">
            <div class="input-group">
              <input class="form-control input-calendar input-with-element-right notranslate" placeholder="dd-mm-yyyy"
                     [(ngModel)]="service.stripeCouponConfig.validTill"
                     [minDate]="today"
                     [startDate]="today"
                     name="dp"
                     ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-calendar btn-sm "
                        (click)="d.toggle()" type="button">
                  <i class="fas fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
          </label>
        </div>
      </span>

        <br>
      </form>

      <button (click)="showValidation = true" *ngIf="form.invalid || !isValid()" class="btn btn-blue btn-sm"
              id="service-save-button-invalid2">
        <i class="far fa-save "></i> &nbsp; {{ 'DASHBOARD.COMMON.SAVE' | translate }}
      </button>

      <button (click)="form.ngSubmit.emit()" *ngIf="!form.invalid && isValid()" class="btn btn-blue btn-sm"
              id="service-save-button">
      <span *ngIf="preventDoubleClickService.clickInProgress" class="spinner-border spinner-border-sm text-light"
            role="status">
                <span class="sr-only">Loading...</span>
              </span>
        <i *ngIf="!preventDoubleClickService.clickInProgress" class="far fa-save "></i>
        &nbsp; {{ 'DASHBOARD.COMMON.SAVE' | translate }}
      </button>

      <button (click)="modalService.open(couponDelete, {size: 'lg'})" class="btn btn-link btn-link-gray btn-sm"
              placement="bottom">
        <i class="far fa-trash-alt"></i> {{ 'DASHBOARD.COUPON.DELETE' | translate }}
      </button>
    </div>
  </div>
  <div *ngIf="activeCard == 'ADVANCE'" class="row">
    <div class="col-md-7 col-12">

      <!--DESCRIPTION ========================================================================================== &ndash;&gt;-->
      <div class="form-group">
        <label>{{ 'DASHBOARD.COUPON.DESC' | translate }}</label>
        <textarea
          #description="ngModel"
          [(ngModel)]="service.description"
          class="form-control"
          name="description"
          rows="2"></textarea>
      </div>

      <div class="form-group" *ngIf="service.config?.badge">
        <label>{{ 'DASHBOARD.SERVICE_ITEM.SERVICE_BADGE' | translate }}</label>
        <div class="input-group">
          <input [(ngModel)]="service.config.badge.label"
                 name="badgeLabel"
                 placeholder="Tento měsíc sleva 20%"
                 class="form-control" type="text">
          <div class="input-group-append">
              <span class="input-group-text"> <i class="fas fa-circle"
                                                 [class]="'text-' + service.config.badge.type"
                                                 style="font-size: 1.5em;
                                                  border-radius: 50px; border: 1px solid gray !important;"></i> </span>
          </div>
        </div>

        <button class="btn btn-sm btn-link btn-color" (click)="service.config.badge.type = 'primary'"
                type="button">
          <i class="fas fa-circle text-primary"></i>
        </button>

        <button class="btn btn-sm btn-link btn-color" (click)="service.config.badge.type = 'secondary'"
                type="button">
          <i class="fas fa-circle text-secondary"></i>
        </button>

        <button class="btn btn-sm btn-link btn-color" (click)="service.config.badge.type = 'success'"
                type="button">
          <i class="fas fa-circle text-success"></i>
        </button>

        <button class="btn btn-sm btn-link btn-color" (click)="service.config.badge.type = 'light'"
                type="button">
          <i class="fas fa-circle text-light"
             style="border-radius: 50px; border: 1px solid gray !important;"></i>
        </button>

        <button class="btn btn-sm btn-link btn-color" (click)="service.config.badge.type = 'danger'"
                type="button">
          <i class="fas fa-circle text-danger"></i>
        </button>

        <button class="btn btn-sm btn-link btn-color" (click)="service.config.badge.type= 'warning'" type="button">
          <i class="fas fa-circle text-warning"></i>
        </button>
      </div>

      <hr>

      <!-- NOTIFICATION MSG ========================================================================================== -->
<!--    <div class="form-group">-->
<!--      <label>{{ 'DASHBOARD.SERVICE_ITEM.SERVICE_NOTIFICATION_MSG' | translate }} </label>-->
<!--      <div>-->
<!--          <textarea-->
<!--            [(ngModel)]="service.notificationMsg"-->
<!--            [ngModelOptions]="{standalone: true}"-->
<!--            class="form-control"-->
<!--            rows="4">-->
<!--          </textarea>-->
<!--      </div>-->
<!--    </div>-->

      <!--ACTIVE ========================================================================================== -->
      <div class="form-group" style="margin-bottom: -10px;">
        <div class="checkbox">
          <label class="custom-control custom-checkbox">
            <input #active="ngModel"
                   [(ngModel)]="service.active"
                   [checked]="service?.active"
                   class="form-check-input checkbox-lg"
                   id="couponActive"
                   name="active"
                   type="checkbox">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"
                  style="position: relative; left: 10px; bottom: 0px;">{{ 'DASHBOARD.SERVICE_ITEM.ACTIVE' | translate }}</span>
            <br>
            <label *ngIf="service?.active"
                   style="position: relative; left: 10px; bottom: 8px;">({{ 'DASHBOARD.WORKER_ITEM.SHOW' | translate }}
              )</label>
            <label *ngIf="!service?.active"
                   style="position: relative; left: 10px; bottom: 8px;">({{ 'DASHBOARD.WORKER_ITEM.NOT_SHOW' | translate }}
              <i class="fas fa-exclamation-triangle text-warning"></i> ) </label>
          </label>
        </div>
      </div>

      <br>
      <br>
      <button (click)="saveService()" class="btn btn-blue btn-sm"
              id="service-save-button2">
      <span *ngIf="preventDoubleClickService.clickInProgress" class="spinner-border spinner-border-sm text-light"
            role="status">
                <span class="sr-only">Loading...</span>
              </span>
        <i *ngIf="!preventDoubleClickService.clickInProgress" class="far fa-save "></i>
        &nbsp; {{ 'DASHBOARD.COMMON.SAVE' | translate }}
      </button>

      <button (click)="modalService.open(couponDelete, {size: 'lg'})" class="btn btn-link btn-link-gray btn-sm"
              placement="bottom">
        <i class="far fa-trash-alt"></i> {{ 'DASHBOARD.COUPON.DELETE' | translate }}
      </button>


    </div>

  </div>
</app-dashboard-card>
<ng-template #serviceImageUpload let-c="close" let-d="dismiss">

  <div class="modal-header text-center">

    <span class='col-12 modal-title text-center'>
      <strong> {{ 'DASHBOARD.SERVICE_ITEM.ADD_IMAGE' | translate }} </strong>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </span>
  </div>

  <div class="modal-body">
    <div class="container">

      <span *ngIf="resizeImageService.state === 'IMG_SELECTED'">
          <app-image-resize width="170"></app-image-resize>
      </span>

      <div *ngIf="resizeImageService.state === 'WAITING_TO_IMG_SELECT'" class="text-center offset-1 col-10">
        <div class="row">

          <div class="offset-0 col-12">
            <div class="alert alert-danger"><i class="fas fa-info-circle"></i> &nbsp;
              {{ 'DASHBOARD.OPTIMIZE_IMG' | translate }} <a href="https://tinypng.com" target="_blank">tinypng.com</a>
            </div>
            <br>

            <div class="">
              <span class="btn btn-link-blue btn-file"
                    style="position: relative; right: 18px; bottom: 2px;"> <strong>{{ 'DASHBOARD.COMMON.SELECT_IMG' | translate }}</strong> &nbsp; <i
                aria-hidden="true" class="fa fa-upload"></i>
                    <input [uploader]="uploader" ng2FileSelect type="file">
                  </span>
              <br>
              <br>

              <div class="row text-center">
                <h6><span>  {{ 'COMMON.OR' | translate }}    </span></h6>
              </div>


              <form (submit)="searchForPexelImg()" style="margin-top: 30px;">
                <div class="row">
                  <div class="col-12">
                    <label>{{ 'DASHBOARD.COMMON.SELECT_IMG_FROM_GALLERY' | translate }}</label>
                    <div class="input-group">
                      <input #name="ngModel"
                             [(ngModel)]="searchKey"
                             class="form-control"
                             id="pexelSearchInput"
                             name="nameServiceForSearch"
                             placeholder="Massage"
                             type="text">
                      <div class="input-group-append">
                        <span class="input-group-text" id="">
                          <button class="btn btn-link-gray btn-link" style="padding: 1px;">
                                <i class="fas fa-search"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row" style="margin-top: 30px;">
            <div *ngFor="let img of imgs" class="col-2" style="margin-bottom: 30px;">
              <a (click)="selectPexelImg(img.src.medium)">
                <img *ngIf="img" [src]="img.src.small" class="img-fluid rounded"
                     style="max-width: 120px;">
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-template>
<ng-template #couponDelete let-c="close" let-d="dismiss">

  <div class="modal-header text-center">

    <span class='col-12 modal-title text-center'>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </span>
  </div>

  <div class="modal-body">
    <div class="container text-center">
      <i style="font-size: 2.5em" class="far fa-trash-alt text-grey"></i>
      <br>
      <br>
      <br>

      <h5><strong>{{ 'DASHBOARD.COUPON.DO_DELETE' | translate }}</strong></h5>

      <br>
      <br>
      <br>

      <button class="btn-link btn-link-gray btn btn-sm"
              (click)="d('Cross click')">{{ 'DASHBOARD.COMMON.DONT_DELETE' | translate }}
      </button>
      <button class="btn-blue btn btn-sm" (click)="deleteService(service)">{{ 'DASHBOARD.COMMON.DELETE' | translate }}
      </button>
      <br>
      <br>
    </div>
  </div>
</ng-template>


<ng-template #codeForServiceModal let-c="close" let-d="dismiss">

  <div class="modal-header text-center">

    <span class='col-12 modal-title text-center'>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </span>
  </div>

  <div class="modal-body">
    <div class="container">
      <app-dashboard-button-custom-web [service]="service"></app-dashboard-button-custom-web>
    </div>
  </div>
</ng-template>

<app-video-guide
  label="VIDEO_GUIDE.COUPON.LABEL"
  description="VIDEO_GUIDE.COUPON.DESCRIPTION"
  videoSrc="https://www.youtube.com/embed/wFcV8v7sg3k?si=dSPTLorhtTtv-sKf"></app-video-guide>
