<app-blog-template-cs blogId="42" date="20.12.2024"
                      title="{{'BLOG.42.TITLE' | translate}}">
  <div class="container">

    <h1>{{'BLOG.42.H1' | translate}}</h1>

    <p>{{'BLOG.42.P1' | translate}}</p>

    <h2>{{'BLOG.42.H2_1' | translate}}</h2>

    <p>{{'BLOG.42.P2' | translate}}</p>

    <h2>{{'BLOG.42.H2_2' | translate}}</h2>

    <p>{{'BLOG.42.P3' | translate}}</p>
    <ul>
      <li>{{'BLOG.42.UL1.LI1' | translate}}</li>
      <li>{{'BLOG.42.UL1.LI2' | translate}}</li>
      <li>{{'BLOG.42.UL1.LI3' | translate}}</li>
      <li>{{'BLOG.42.UL1.LI4' | translate}}
        <ul>
          <li>{{'BLOG.42.UL1.LI4.SUB1' | translate}}</li>
          <li>{{'BLOG.42.UL1.LI4.SUB2' | translate}}</li>
          <li>{{'BLOG.42.UL1.LI4.SUB3' | translate}}</li>
        </ul>
      </li>
    </ul>

    <h2>{{'BLOG.42.H2_3' | translate}}</h2>

    <p>{{'BLOG.42.P4' | translate}}</p>

    <h3>{{'BLOG.42.H3_1' | translate}}</h3>
    <ul>
      <li>{{'BLOG.42.UL2.LI1' | translate}}</li>
      <li>{{'BLOG.42.UL2.LI2' | translate}}</li>
    </ul>

    <h3>{{'BLOG.42.H3_2' | translate}}</h3>
    <ul>
      <li>{{'BLOG.42.UL3.LI1' | translate}}</li>
      <li>{{'BLOG.42.UL3.LI2' | translate}}</li>
    </ul>

    <h3>{{'BLOG.42.H3_3' | translate}}</h3>
    <ul>
      <li>{{'BLOG.42.UL4.LI1' | translate}}</li>
      <li>{{'BLOG.42.UL4.LI2' | translate}}</li>
    </ul>

    <h3>{{'BLOG.42.H3_4' | translate}}</h3>
    <ul>
      <li>{{'BLOG.42.UL5.LI1' | translate}}</li>
      <li>{{'BLOG.42.UL5.LI2' | translate}}</li>
    </ul>

    <h3>{{'BLOG.42.H3_5' | translate}}</h3>
    <ul>
      <li>{{'BLOG.42.UL6.LI1' | translate}}</li>
      <li>{{'BLOG.42.UL6.LI2' | translate}}</li>
    </ul>

    <h3>{{'BLOG.42.H3_6' | translate}}</h3>
    <ul>
      <li>{{'BLOG.42.UL7.LI1' | translate}}</li>
      <li>{{'BLOG.42.UL7.LI2' | translate}}</li>
    </ul>

    <h3>{{'BLOG.42.H3_7' | translate}}</h3>
    <ul>
      <li>{{'BLOG.42.UL8.LI1' | translate}}</li>
      <li>{{'BLOG.42.UL8.LI2' | translate}}</li>
    </ul>

    <h3>{{'BLOG.42.H3_8' | translate}}</h3>
    <ul>
      <li>{{'BLOG.42.UL9.LI1' | translate}}</li>
      <li>{{'BLOG.42.UL9.LI2' | translate}}</li>
    </ul>

    <h2>{{'BLOG.42.H2_4' | translate}}</h2>

    <ol>
      <li>{{'BLOG.42.OL1.LI1' | translate}}</li>
      <li>{{'BLOG.42.OL1.LI2' | translate}}</li>
      <li>{{'BLOG.42.OL1.LI3' | translate}}</li>
      <li>{{'BLOG.42.OL1.LI4' | translate}}</li>
    </ol>

    <h2>{{'BLOG.42.H2_5' | translate}}</h2>

    <p>{{'BLOG.42.P5' | translate}}</p>
  </div>
</app-blog-template-cs>
