<script src="guide-for-beginners.component.ts"></script>
<app-blog-template-cs blogId="24" date="10.8.2023" [faq]="faq" [readMore]="readMore"
                      title="{{'BLOG.24.TITLE' | translate}}">

  <div class="container mt-4">
    <h3>{{'BLOG.24.H1' | translate}}</h3>
    <ul class="list-group">
      <li class="list-group-item"><a href="#co-je-to-online-rezervacni-system">{{'BLOG.24.L1' | translate}}</a></li>
      <li class="list-group-item"><a href="#jak-funguje-online-rezervacni-system">{{'BLOG.24.L2' | translate}}</a></li>
      <li class="list-group-item"><a href="#jsou-online-rezervacni-platby-bezpecne">{{'BLOG.24.L3' | translate}}</a></li>
      <li class="list-group-item"><a href="#jake-platebni-metody-online-rezervacni-systemy-akceptuji">{{'BLOG.24.L4' | translate}}</a></li>
      <li class="list-group-item"><a href="#ktere-typy-podnikani-mohou-vyuzit-online-rezervacni-system">{{'BLOG.24.L5' | translate}}</a></li>
      <li class="list-group-item"><a href="#mohou-zakaznici-rezervovat-prostrednictvim-svych-chytrych-zarizeni">{{'BLOG.24.L6' | translate}}</a></li>
      <li class="list-group-item"><a href="#kolik-stoji-online-rezervacni-systemy">{{'BLOG.24.L7' | translate}}</a></li>
      <li class="list-group-item"><a href="#jak-mohu-zacit-vyuzivat-online-rezervacni-system">{{'BLOG.24.L8' | translate}}</a></li>
      <li class="list-group-item"><a href="#jake-jsou-vyhody-vyuzivani-online-rezervacniho-systemu">{{'BLOG.24.L9' | translate}}</a></li>
      <li class="list-group-item"><a href="#zaver-a-zaverecne-myslenky">{{'BLOG.24.L10' | translate}}</a></li>
    </ul>
  </div>

  <div class="container mt-5">
    <p class="lead">{{'BLOG.24.P1' | translate}}</p>

    <h2 id="co-je-to-online-rezervacni-system">{{'BLOG.24.H2' | translate}}</h2>
    <p>{{'BLOG.24.P2' | translate}}</p>
  </div>

  <div class="container mt-5">
    <h2 id="jak-funguje-online-rezervacni-system">{{'BLOG.24.H3' | translate}}</h2>
    <p>{{'BLOG.24.P3' | translate}}</p>
    <ul class="list-group">
      <li>{{'BLOG.24.L11' | translate}}</li>
      <li>{{'BLOG.24.L12' | translate}}</li>
      <li>{{'BLOG.24.L13' | translate}}</li>
      <li>{{'BLOG.24.L14' | translate}}</li>
      <li>{{'BLOG.24.L15' | translate}}</li>
    </ul>
    <p>{{'BLOG.24.P4' | translate}}</p>
  </div>

  <div class="container mt-5">
    <h2 id="jsou-online-rezervacni-platby-bezpecne">{{'BLOG.24.H4' | translate}}</h2>
    <p>{{'BLOG.24.P5' | translate}}</p>
    <p>{{'BLOG.24.P6' | translate}}</p>
    <img src="../../../../../resources/blog/24.jpg" alt="{{'BLOG.24.IMG1' | translate}}" class="img-fluid mb-4">
    <p>{{'BLOG.24.P7' | translate}}</p>
    <p>{{'BLOG.24.P8' | translate}}</p>
  </div>

  <div class="container mt-5">
    <h2 id="jake-platebni-metody-online-rezervacni-systemy-akceptuji">{{'BLOG.24.H5' | translate}}</h2>
    <p>{{'BLOG.24.P9' | translate}}</p>
    <ul class="">
      <li>{{'BLOG.24.L16' | translate}}</li>
      <li>{{'BLOG.24.L17' | translate}}</li>
      <li>{{'BLOG.24.L18' | translate}}</li>
    </ul>
    <p>{{'BLOG.24.P10' | translate}}</p>
  </div>

  <div class="container mt-5">
    <h2 id="ktere-typy-podnikani-mohou-vyuzit-online-rezervacni-system">{{'BLOG.24.H6' | translate}}</h2>
    <p>{{'BLOG.24.P11' | translate}}</p>
    <ul class="">
      <li>{{'BLOG.24.L19' | translate}}</li>
      <li>{{'BLOG.24.L20' | translate}}</li>
      <li>{{'BLOG.24.L21' | translate}}</li>
      <li>{{'BLOG.24.L22' | translate}}</li>
      <li>{{'BLOG.24.L23' | translate}}</li>
      <li>{{'BLOG.24.L24' | translate}}</li>
      <li>{{'BLOG.24.L25' | translate}}</li>
      <li>{{'BLOG.24.L26' | translate}}</li>
      <li>{{'BLOG.24.L27' | translate}}</li>
      <li>{{'BLOG.24.L28' | translate}}</li>
      <li>{{'BLOG.24.L29' | translate}}</li>
    </ul>
    <p>{{'BLOG.24.P12' | translate}}</p>
  </div>

  <div class="container mt-5">
    <h2 id="mohou-zakaznici-rezervovat-prostrednictvim-svych-chytrych-zarizeni">{{'BLOG.24.H7' | translate}}</h2>
    <p>{{'BLOG.24.P13' | translate}}</p>
    <img src="../../../../../resources/blog/24-1.jpg" alt="{{'BLOG.24.IMG2' | translate}}" class="img-fluid mb-4">
    <p>{{'BLOG.24.P14' | translate}}</p>
    <p>{{'BLOG.24.P15' | translate}}</p>
  </div>

  <div class="container mt-5">
    <h2 id="kolik-stoji-online-rezervacni-systemy">{{'BLOG.24.H8' | translate}}</h2>
    <p>{{'BLOG.24.P16' | translate}}</p>
    <img src="../../../../../resources/blog/24-2.png" class="img-fluid mb-4">
    <p>{{'BLOG.24.P17' | translate}}</p>
    <p>{{'BLOG.24.P18' | translate}}</p>
    <p>{{'BLOG.24.P19' | translate}}</p>
  </div>

  <div class="container mt-5">
    <h2 id="jak-mohu-zacit-vyuzivat-online-rezervacni-system">{{'BLOG.24.H9' | translate}}</h2>
    <p>{{'BLOG.24.P20' | translate}}</p>
    <ul class="">
      <li>{{'BLOG.24.L30' | translate}}</li>
      <li>{{'BLOG.24.L31' | translate}}</li>
      <li>{{'BLOG.24.L32' | translate}}</li>
      <li>{{'BLOG.24.L33' | translate}}</li>
      <li>{{'BLOG.24.L34' | translate}}</li>
    </ul>
    <p>{{'BLOG.24.P21' | translate}}</p>
  </div>

  <div class="container mt-5">
    <h2 id="jake-jsou-vyhody-vyuzivani-online-rezervacniho-systemu">{{'BLOG.24.H10' | translate}}</h2>
    <p>{{'BLOG.24.P22' | translate}}</p>
    <ul class="">
      <li>{{'BLOG.24.L35' | translate}}</li>
      <li>{{'BLOG.24.L36' | translate}}</li>
      <li>{{'BLOG.24.L37' | translate}}</li>
      <li>{{'BLOG.24.L38' | translate}}</li>
      <li>{{'BLOG.24.L39' | translate}}</li>
      <li>{{'BLOG.24.L40' | translate}}</li>
    </ul>
    <p>{{'BLOG.24.P23' | translate}}</p>
  </div>

  <div class="container mt-5">
    <h2 id="zaver-a-zaverecne-myslenky">{{'BLOG.24.H11' | translate}}</h2>
    <p>{{'BLOG.24.P24' | translate}}</p>
    <p>{{'BLOG.24.P25' | translate}}</p>
    <p>{{'BLOG.24.P26' | translate}}</p>
  </div>

</app-blog-template-cs>
