.img-item {
  background: rgb(245, 246, 248);

}
.card-item {
  /*background-color: white;*/
  /*border-radius: 8px;*/
  /*border-color: rgb(231, 231, 231) !important;*/
  /*border: 1px solid;*/
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.frame {
  width:80px;
  height: 80px;
  /*height: 25px;      !* Equals maximum image height *!*/
  /*width: 160px;*/
  border: 6px solid white;
  border-radius: 20%;
  white-space: nowrap; /* This is required unless you put the helper span closely near the img */

  margin: 1em 0;
}


img {
  /*background: #3A6F9A;*/
  vertical-align: middle;
}

