<div class="container">
  <div class="row" style="padding-top: 45px; padding-bottom: 45px;">

    <div class="col-md-3 offset-md-2 offset-0 col-10">
      <img class="img-responsive-half" src="../../../../resources/intro/release.png" style="width: 300px;">
    </div>

    <div class="col-md-4 offset-md-1 offset-0 col-12" style="margin-top: 35px; ">
      <h3 class="" style="font-size: 2.2em;">
        Notado API for developers
      </h3>
      <br>
      <h5 class="">
        In case that you dont want to use notado reservation form you can create your own form and connect notado API to
        allow your customer create reservation.

      </h5>
      <br>
      <h5> See more in the <a href="https://notado.slite.com/api/s/channel/H5qx3zrFqjN5Scr3SeGiEE/Notado%20API"
                              target="_blank">API documentation</a>.
      </h5>
      <br>
    </div>


  </div>
</div>
