<div class="container">
  <br>
  <br>
  <br>
  <div class="row text-left " style="">
    <div class="offset-md-0 col-12 col-md-7">
      <div class="row text-left">
        <div class="offset-1 col-11">
          <h2> {{'INTRO.WHAT_WE_KNOW.TITLE' | translate}}</h2>
          <br>
          <ul class="fa-ul">
            <li>
              <app-what-we-know-list-item label="INTRO.WHAT_WE_KNOW.LABEL1"></app-what-we-know-list-item>
            </li>
            <li>
            <app-what-we-know-list-item label="INTRO.WHAT_WE_KNOW.LABEL2"></app-what-we-know-list-item>
            </li>
            <li>
            <app-what-we-know-list-item label="INTRO.WHAT_WE_KNOW.LABEL3"></app-what-we-know-list-item>
            </li>
            <li>
            <app-what-we-know-list-item label="INTRO.WHAT_WE_KNOW.LABEL4"></app-what-we-know-list-item>
            </li>
            <li>
            <app-what-we-know-list-item label="INTRO.WHAT_WE_KNOW.LABEL5"></app-what-we-know-list-item>
            </li>
            <li>
            <app-what-we-know-list-item label="INTRO.WHAT_WE_KNOW.LABEL6"></app-what-we-know-list-item>
            </li>
            <li>
            <app-what-we-know-list-item label="INTRO.WHAT_WE_KNOW.LABEL8"></app-what-we-know-list-item>
            </li>
            <li>
            <app-what-we-know-list-item label="INTRO.WHAT_WE_KNOW.LABEL9"></app-what-we-know-list-item>
            </li>
            <li>
              <app-what-we-know-list-item label="INTRO.WHAT_WE_KNOW.LABEL10"></app-what-we-know-list-item>
            </li>
            <li>
              <app-what-we-know-list-item label="INTRO.WHAT_WE_KNOW.LABEL11"></app-what-we-know-list-item>
            </li>
            <li>
              <app-what-we-know-list-item label="INTRO.WHAT_WE_KNOW.LABEL12"></app-what-we-know-list-item>
            </li>
            <li>
              <app-what-we-know-list-item label="INTRO.WHAT_WE_KNOW.LABEL13"></app-what-we-know-list-item>
            </li>
            <li>
              <app-what-we-know-list-item label="INTRO.WHAT_WE_KNOW.LABEL14"></app-what-we-know-list-item>
            </li>
          </ul>
          <br>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-9  d-none d-md-block">
      <img class="img-responsive" src="../../../../resources/intro/reading-list.png"
           style="width:380px; position: relative; bottom: 0px;"
           [alt]="'IMG_ALT.READING_LIST' | translate">
    </div>
  </div>
  <br>
  <br>
  <br>

</div>
