<app-blog-template-cs blogId="27" date="13.12.2022" title="{{'BLOG.27.TITLE' | translate}}">

  <section class="container mt-5">
    <h1>{{'BLOG.27.H1' | translate}}</h1>
    <p>{{'BLOG.27.P1' | translate}}</p>
  </section>

  <section class="container mt-5">
    <h2>{{'BLOG.27.H2' | translate}}</h2>
    <p>{{'BLOG.27.P2' | translate}}</p>
    <ul>
      <li>{{'BLOG.27.L1' | translate}}</li>
      <li>{{'BLOG.27.L2' | translate}}</li>
      <li>{{'BLOG.27.L3' | translate}}</li>
      <li>{{'BLOG.27.L4' | translate}}</li>
      <li>{{'BLOG.27.L5' | translate}}</li>
    </ul>
    <p>{{'BLOG.27.P3' | translate}}</p>
  </section>

  <section class="container mt-5">
    <h3>{{'BLOG.27.H3.1' | translate}}</h3>
    <p>{{'BLOG.27.P4' | translate}}</p>

    <h3>{{'BLOG.27.H3.2' | translate}}</h3>
    <p>{{'BLOG.27.P5' | translate}}</p>

    <h3><a href="https://www.notado.cz/intro/cs/calendar-availability">{{'BLOG.27.H3.3' | translate}}</a></h3>
    <p>{{'BLOG.27.P6' | translate}}</p>

    <h3>{{'BLOG.27.H3.4' | translate}}</h3>
    <p>{{'BLOG.27.P7' | translate}}</p>

    <h3>{{'BLOG.27.H3.5' | translate}}</h3>
    <p>{{'BLOG.27.P8' | translate}}</p>

    <h3><a href="https://www.notado.cz/intro/cs/payments-during-booking">{{'BLOG.27.H3.6' | translate}}</a></h3>
    <p>{{'BLOG.27.P9' | translate}}</p>

    <h3>{{'BLOG.27.H3.7' | translate}}</h3>
    <p>{{'BLOG.27.P10' | translate}}</p>

    <h3><a href="https://www.notado.cz/intro/cs/reservation-system-and-security">{{'BLOG.27.H3.8' | translate}}</a></h3>
    <p>{{'BLOG.27.P11' | translate}}</p>

    <h3>{{'BLOG.27.H3.9' | translate}}</h3>
    <p>{{'BLOG.27.P12' | translate}}</p>

    <h3><a href="https://www.notado.cz/intro/cs/integration">{{'BLOG.27.H3.10' | translate}}</a></h3>
    <p>{{'BLOG.27.P13' | translate}}</p>

    <h3>{{'BLOG.27.H3.11' | translate}}</h3>
    <p>{{'BLOG.27.P14' | translate}}</p>
  </section>

</app-blog-template-cs>
