<div class="container">
  <br>
  <br>

  <div class="row text-center">


    <div class="offset-sm-1 col-sm-9  col-12">

      <h2 class="text-primary">{{ 'LICENCE.TITLE' | translate }}
      </h2>
      <br>
    </div>

    <div class="offset-sm-1 col-sm-9  col-12">

      <h6>{{ 'LICENCE.DATE' | translate }}</h6>
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="offset-sm-1 col-sm-9  col-12">

      <p>{{ 'LICENCE.LABEL_1' | translate }}
      </p>
      <p>{{ 'LICENCE.LABEL_2' | translate }}
      </p>
      <br>
      <br>
      <h3 class="text-primary">
        {{ 'LICENCE.SECTION_1' | translate }}
      </h3>

      <ul>

        <li type="a">
          {{ 'LICENCE.SECTION_1_LABEL_1' | translate }}
        </li>

        <li type="a">
          {{ 'LICENCE.SECTION_1_LABEL_2' | translate }}
        </li>

        <li type="a">
          {{ 'LICENCE.SECTION_1_LABEL_3' | translate }}
        </li>

        <li type="a">
          {{ 'LICENCE.SECTION_1_LABEL_4' | translate }}
        </li>

        <li type="a">
          {{ 'LICENCE.SECTION_1_LABEL_5' | translate }}
        </li>

        <li type="a">
          {{ 'LICENCE.SECTION_1_LABEL_6' | translate }}
        </li>

      </ul>
      <h3 class="text-primary">
        {{ 'LICENCE.SECTION_2' | translate }}
      </h3>
      <ul>
        <li type="a">
          {{ 'LICENCE.SECTION_2_LABEL_1' | translate }}
        </li>

        <li type="a">
          {{ 'LICENCE.SECTION_2_LABEL_2' | translate }}
        </li>

        <li type="a">
          {{ 'LICENCE.SECTION_2_LABEL_3' | translate }}
        </li>
      </ul>
      <h3 class="text-primary">
        {{ 'LICENCE.SECTION_3' | translate }}
      </h3>
      <ul>

        <li type="a">
          {{ 'LICENCE.SECTION_3_LABEL_1' | translate }}
        </li>

        <li type="a">
          {{ 'LICENCE.SECTION_3_LABEL_2' | translate }}
        </li>
      </ul>

      <h3 class="text-primary">
        {{ 'LICENCE.SECTION_4' | translate }}
      </h3>
      <ul>

        <li type="a">
          {{ 'LICENCE.SECTION_4_LABEL_1' | translate }}
        </li>
        <li type="a">
          {{ 'LICENCE.SECTION_4_LABEL_2' | translate }}
        </li>
        <li type="a">
          {{ 'LICENCE.SECTION_4_LABEL_3' | translate }}
        </li>

      </ul>

      <h3 class="text-primary">
        {{ 'LICENCE.SECTION_5' | translate }}
      </h3>
      <ul>
        <li type="a">
          {{ 'LICENCE.SECTION_5_LABEL_1' | translate }}
        </li>
        <li type="a">
          {{ 'LICENCE.SECTION_5_LABEL_2' | translate }}
        </li>
      </ul>

      <h3 class="text-primary">
        {{ 'LICENCE.SECTION_6' | translate }}
      </h3>

      <ul>

        <li type="a">
          {{ 'LICENCE.SECTION_6_LABEL_1' | translate }}
        </li>
        <li type="a">
          {{ 'LICENCE.SECTION_6_LABEL_2' | translate }}

        </li>
        <li type="a">
          {{ 'LICENCE.SECTION_6_LABEL_3' | translate }}
        </li>
      </ul>

    </div>
  </div>
  <br>
  <br>
  <br>
</div>
