<app-blog-template-cs blogId="30" date="22.08.2023" hideAuthor="false"
                      title="{{'BLOG.30.T1' | translate}}">
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{'BLOG.30.H1' | translate}}</h2>
        <p>{{'BLOG.30.P1' | translate}}</p>
        <p><strong>{{'BLOG.30.P2' | translate}}</strong></p>
        <ul>
          <li>{{'BLOG.30.L1' | translate}}</li>
          <li>{{'BLOG.30.L2' | translate}}</li>
          <li>{{'BLOG.30.L3' | translate}}</li>
          <li>{{'BLOG.30.L4' | translate}}</li>
        </ul>
        <p>{{'BLOG.30.P3' | translate}}</p>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{'BLOG.30.H2' | translate}}</h2>
        <p>{{'BLOG.30.P4' | translate}}</p>
        <img src="../../../../../resources/blog/24.jpg" alt="{{'BLOG.30.IMG1_ALT' | translate}}" class="img-fluid">
        <p>{{'BLOG.30.P5' | translate}}</p>
        <p>{{'BLOG.30.P6' | translate}}</p>
        <p>{{'BLOG.30.P7' | translate}}</p>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{'BLOG.30.H3' | translate}}</h2>
        <p>{{'BLOG.30.P8' | translate}}</p>
        <p>{{'BLOG.30.P9' | translate}}</p>
        <p>{{'BLOG.30.P10' | translate}}</p>
        <p>{{'BLOG.30.P11' | translate}}</p>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{'BLOG.30.H4' | translate}}</h2>
        <p>{{'BLOG.30.P12' | translate}}</p>
        <img src="../../../../../resources/blog/30/01.png" alt="{{'BLOG.30.IMG2_ALT' | translate}}" class="img-fluid">
        <p>{{'BLOG.30.P13' | translate}}</p>
        <p>{{'BLOG.30.P14' | translate}}</p>
        <p>{{'BLOG.30.P15' | translate}}</p>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{'BLOG.30.H5' | translate}}</h2>
        <p>{{'BLOG.30.P16' | translate}}</p>
        <p>{{'BLOG.30.P17' | translate}}</p>
        <p>{{'BLOG.30.P18' | translate}}</p>
        <p>{{'BLOG.30.P19' | translate}}</p>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{'BLOG.30.H6' | translate}}</h2>
        <p>{{'BLOG.30.P20' | translate}}</p>
        <p>{{'BLOG.30.P21' | translate}}</p>
        <p>{{'BLOG.30.P22' | translate}}</p>
        <p>{{'BLOG.30.P23' | translate}}</p>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{'BLOG.30.H7' | translate}}</h2>
        <p>{{'BLOG.30.P24' | translate}}</p>
        <p>{{'BLOG.30.P25' | translate}}</p>
      </div>
    </div>
  </section>
</app-blog-template-cs>
