
<faq-template
title="NOTIFICATION_FROM_OWN_EMAIL"
[labels]="1"
[imgs]="[0]"
>

</faq-template>

<h5>Příklady nastavení:</h5>
<div class="container mt-5">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Poskytovatel</th>
      <th>SMTP Host</th>
      <th>SMTP Port</th>
      <th>Heslo</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Gmail</td>
      <td>smtp.gmail.com</td>
      <td>587</td>
      <!-- Note for setting password on Gmail -->
      <td>Pro gmail je potřeba vytvořit specialní heslo: <a href="https://support.google.com/mail/?p=InvalidSecondFactor" target="_blank">jak nastavit heslo pro gmail</a></td>
    </tr>
    <tr>
      <td>Seznam</td>
      <td>smtp.seznam.cz</td>
      <td>587</td>
      <td>Použijte heslo, kterým se přihlašujete do vašeho emailu</td>
    </tr>
    <tr>
      <td>Webnode</td>
      <td>mail1.webnode.com, mail2.webnode.com nebo mail3.webnode.com</td>
      <td>587</td>
      <td>Použijte heslo, kterým se přihlašujete do vašeho emailu</td>
    </tr>
    <tr>
      <td>Wedos</td>
      <td>wes1-smtp.wedos.net</td>
      <td>587</td>
      <td>Použijte heslo, kterým se přihlašujete do vašeho emailu</td>
    </tr>
    <tr>
      <td>Active24</td>
      <td>email.active24.com</td>
      <td>465</td>
      <td>Použijte heslo, kterým se přihlašujete do vašeho emailu</td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<br>

