<app-for-audience
  img="../resources/intro/audience/haircut.png"
  profession="HAIR"
  label="DESC"
  desc1="DESC1"
  title1="TITLE1"
  title11="TITLE11"
  title2="TITLE2"
  title22="TITLE22"
  label2="LABEL2"
  desc2="DESC2"
  title3="TITLE3"
  title33="TITLE33"
  label3="LABEL3"
  desc3="DESC3"
  img1="../../../../resources/intro/audience/hair1.png"
  img2="../../../../resources/intro/audience/hair2.png"
  img3="../../../../resources/intro/audience/hair3.png"
  imgAlt="INTRO.MENU_AUDIENCE.HAIR_CUT_DESC"
  imgAlt1="IMG_ALT1"
  imgAlt2="IMG_ALT2"
  imgAlt3="IMG_ALT3"
  [demoType]="demoTypeEnum.BARBER"
>

</app-for-audience>

