<app-blog-template-cs blogId="43" date="12.8.2023"
                      title="{{'BLOG.43.TITLE' | translate}}">
  <section class="container mt-5">
    <p class="lead">
      {{'BLOG.43.P1' | translate}}
    </p>
    <p>
      {{'BLOG.43.P2' | translate}}
    </p>
    <blockquote class="blockquote">
      <p>
        {{'BLOG.43.Q1' | translate}} <a href="https://www.notado.cz/blog/cs/telefonicke-vs-online-rezervace">{{'BLOG.43.LINK1' | translate}}</a>.
      </p>
    </blockquote>
  </section>

  <section class="container mt-5">
    <h2 class="text-center mb-4">{{'BLOG.43.H1' | translate}}</h2>

    <!-- Website Customization -->
    <div class="row mb-4">
      <h3>{{'BLOG.43.H2.1' | translate}}</h3>
      <p>
        {{'BLOG.43.P3' | translate}}
      </p>
    </div>

    <!-- eCommerce Capabilities -->
    <div class="row mb-4">
      <h3>{{'BLOG.43.H2.2' | translate}}</h3>
      <p>
        {{'BLOG.43.P4' | translate}}
      </p>
    </div>
  </section>

  <section class="container mt-5">

    <!-- Mobile Compatibility -->
    <div class="row mb-4">
      <h3>{{'BLOG.43.H2.3' | translate}}</h3>
      <p>
        {{'BLOG.43.P5' | translate}}
      </p>
    </div>

    <!-- User-friendly Functionalities -->
    <div class="row mb-4">
      <h3>{{'BLOG.43.H2.4' | translate}}</h3>
      <p>
        {{'BLOG.43.P6' | translate}}
      </p>
    </div>
  </section>

  <section class="container mt-5">

    <!-- Automated Reminders -->
    <div class="row mb-4">
      <h3>{{'BLOG.43.H2.5' | translate}}</h3>
      <p>
        {{'BLOG.43.P7' | translate}}
      </p>
    </div>

    <!-- Integration with Other Systems -->
    <div class="row mb-4">
      <h3>{{'BLOG.43.H2.6' | translate}}</h3>
      <p>
        {{'BLOG.43.P8' | translate}}
      </p>
    </div>
  </section>
</app-blog-template-cs>
