<app-blog-template blogId="01" date="11.10.2022">

  <p><span [innerHTML]="'BLOG.01.P1' | translate"></span></p>
  <h2><span [innerHTML]="'BLOG.01.H1' | translate"></span></h2>
  <p><span [innerHTML]="'BLOG.01.P2' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.01.P3' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.01.P4' | translate"></span></p>
  <h2><span [innerHTML]="'BLOG.01.H2' | translate"></span></h2>
  <p><span [innerHTML]="'BLOG.01.P5' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.01.P6' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.01.P7' | translate"></span></p>
  <h2><span [innerHTML]="'BLOG.01.H3' | translate"></span></h2>
  <p><span [innerHTML]="'BLOG.01.P8' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.01.P9' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.01.P10' | translate"></span></p>
  <h2><span [innerHTML]="'BLOG.01.H4' | translate"></span></h2>
  <p><span [innerHTML]="'BLOG.01.P11' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.01.P12' | translate"></span></p>
  <h2><span [innerHTML]="'BLOG.01.H5' | translate"></span></h2>
  <p><span [innerHTML]="'BLOG.01.P14' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.01.P15' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.01.P16' | translate"></span></p>
  <h2><span [innerHTML]="'BLOG.01.H6' | translate"></span></h2>
  <p><span [innerHTML]="'BLOG.01.P17' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.01.P18' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.01.P19' | translate"></span></p>
  <h2><span [innerHTML]="'BLOG.01.H7' | translate"></span></h2>
  <p><span [innerHTML]="'BLOG.01.P20' | translate"></span></p>
</app-blog-template>


