.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
  }
}

.transition-all {
  transition: all 0.2s ease-in-out;
}

.card-img-top {
  object-fit: cover;
  object-position: top center;
  height: 140px;
}

.text-blue {
  color: #0056b3;
}

a {
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

