<app-intro-item

  bgType="WHITE"
  img="../../../../../resources/intro/google-contact.png"
  imgClass="img-responsive"
  alt="Client management"
  title1="INTRO.CUSTOMER.TITLE1"
  title2="INTRO.CUSTOMER.TITLE2"
  item1="INTRO.CUSTOMER.LABEL1"
  item2="INTRO.CUSTOMER.LABEL2"
  item3="INTRO.CUSTOMER.LABEL3"
  item4="INTRO.CUSTOMER.LABEL4"

>
</app-intro-item>

<!--<div class="row">-->
<!--  <div class="col-12 text-center d-block d-md-none">-->
<!--    <img class="rounded img-shadow img-responsive" src="../../../../../resources/intro/frame/clients.png"-->
<!--         alt="Client management"-->
<!--         style="max-width: 700px; ">-->
<!--    <br>-->
<!--    <br>-->
<!--    <br>-->
<!--  </div>-->

<!--  <div class="col-md-6 col-12 offset-md-1">-->
<!--    <br class="d-none d-md-block">-->
<!--    <br class="d-none d-md-block">-->
<!--    <h2>-->
<!--      {{ 'INTRO.CUSTOMER.TITLE1' | translate }}-->
<!--    </h2>-->

<!--    <br>-->
<!--    <ul class="fa-ul">-->
<!--      <li>-->
<!--        <app-what-we-know-list-item-->
<!--          label="INTRO.CUSTOMER.LABEL1"></app-what-we-know-list-item>-->
<!--      </li>-->
<!--      <li>-->
<!--        <app-what-we-know-list-item-->
<!--          label="INTRO.CUSTOMER.LABEL2"></app-what-we-know-list-item>-->
<!--      </li>-->
<!--      <li>-->
<!--        <app-what-we-know-list-item-->
<!--          label="INTRO.CUSTOMER.LABEL3"></app-what-we-know-list-item>-->
<!--      </li>-->
<!--      <li>-->
<!--        <app-what-we-know-list-item-->
<!--          label="INTRO.CUSTOMER.LABEL4"></app-what-we-know-list-item>-->
<!--      </li>-->
<!--    </ul>-->

<!--    <br>-->

<!--  </div>-->

<!--  <br>-->
<!--  <div class="col-md-5 col-10 text-center d-none d-md-block">-->
<!--    <br>-->
<!--    <br>-->
<!--    <img class="rounded img-shadow img-responsive" src="../../../../../resources/intro/frame/clients.png"-->
<!--         alt="Client management"-->
<!--         style="max-width: 700px; ">-->
<!--    &lt;!&ndash;<img class="rounded img-shadow" src="../../../../../resources/intro/frame/clients.png" style="max-width: 700px; ">&ndash;&gt;-->
<!--    <br>-->
<!--    <br>-->
<!--    <br>-->
<!--    <br>-->

<!--  </div>-->


<!--</div>-->
