<br>
<br>
<br>
<br>
<br>

<div class="container">

  <div class="row">

    <div class="col-10 col-md-5">
      <h3 class="">Jsme nejlevnější rezervační systém na trhu. </h3>
      <br>

      <h5>
        Znáte business pravidlo '70-20'? Tohle pravidlo znamená, že <span class="text-blue"> <b>70% uživatelů využívá u aplikace 20% funkcionality</b></span>.
        <br>
        <br>
        To ale také znamená, že uživatel platí za něco co nepoužívá!

        <br>
        <br>

        My jsme se rozhodli nenabízet komplexni řešení 'na všechno'. Proto, narozdíl od naší konkurence, u nás neplatíte
        za něco, co nevyužijete.
        <a routerLink="/blog/cs/price" class="text-blue"> ... vice</a>
        <br>
        <br>

      </h5>
    </div>
    <div class=" col-10 col-md-7 offset-1 offset-md-0">

      <h4 class="text-center"> Cena za měsíc </h4>
      <br>
      <div class="row">
        <div class="offset-1 col-4">
          <h5 class="text-blue"><b>notado.cz</b></h5>
        </div>
        <div class="col-6">
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="120"
                 aria-valuemin="0" aria-valuemax="700"> 240 Kč
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-1 col-4">
          <h5 class="text-blue">reservanto.cz</h5>
        </div>
        <div class="col-6">
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 35%;" aria-valuenow="166"
                 aria-valuemin="0" aria-valuemax="700"> 499 Kč
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-1 col-4">
          <h5 class="text-blue">reenio.cz</h5>
        </div>
        <div class="col-6">
          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 45%;" aria-valuenow="225"
                 aria-valuemin="0" aria-valuemax="700"> 245 Kč
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-1 col-4">
          <h5 class="text-blue">myfox.cz</h5>
        </div>
        <div class="col-6">
          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 64%;" aria-valuenow="397"
                 aria-valuemin="0" aria-valuemax="700"> 397 Kč
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-1 col-4">
          <h5 class="text-blue">reservio.com</h5>
        </div>
        <div class="col-6">
          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 67%;" aria-valuenow="399"
                 aria-valuemin="0" aria-valuemax="700"> 399 Kč
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-1 col-4">
          <h5 class="text-blue" style="font-size: 0.99em; margin-bottom: 13px;">fitness-rezervace.cz</h5>
        </div>
        <div class="col-6">
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%;" aria-valuenow="500"
                 aria-valuemin="0" aria-valuemax="700"> 500 Kč
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-1 col-4">
          <h5 class="text-blue">resmaster.eu</h5>
        </div>
        <div class="col-6">
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="700"
                 aria-valuemin="0" aria-valuemax="700"> 1000 Kč
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <br>
  <br>
  <br>
  <br>


</div>

