<nav class="navbar navbar-expand-lg" id="home" style="padding-right: 2vw; padding-left: 2vw;">

  <a [routerLink]="'/' + languageService.language + '/home'" class="navbar-brand" id="intro-screen"
     style="position: relative; bottom: 0px;">
    &nbsp;&nbsp;
    <span class="text-blue" style="font-family: bariol, serif; font-size: 1.3em; font-weight: 700;">
      <img src="../resources/logo-big.png" style="width:30px;" alt="Notado Logo">
      NOTADO <span style="font-family: 'Caveat', cursive;" class="text-primary" > blog</span>
    </span>

  </a>

  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
  class="navbar-toggler"
  data-target="#navbarSupportedContent"
  data-toggle="collapse"
  type="button"
   (click)="showMobileMenu = !showMobileMenu">
      <i class="fas fa-bars text-blue" style="font-size:28px;"></i>
  </button>

  <div class="collapse navbar-collapse text-blue" [class.show]="showMobileMenu" id="navbarSupportedContent">

    <!--LEFT ======================================================== -->

    <!--RIGHT ======================================================== -->
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" style="margin-right: 25px;">
        <a *ngIf="!authService.user" [routerLink]="'/intro/' + languageService.language + '/join'"
           class="nav-link nav-link-blue"
           id="intro-my-account-button"
           routerLinkActive="active">{{ 'INTRO.MENU.LOGIN' | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a *ngIf="!authService.user" [routerLink]="'/intro/' + languageService.language + '/signup'"
           class="btn btn-outline-blue navbar-button text-uppercase btn-sm nav-link"
           style="margin-top: 6px;">&nbsp; {{ 'COMMON.TRY_FREE' | translate }} &nbsp;
        </a>
      </li>

      <li class="nav-item" style="margin-right: 25px;">
        <button (click)="modalService.open(languageSwitchModal, {size: 'sm'})"
                class="nav-link nav-link-blue nav-link-clean"
                id="language-switch"
                routerLinkActive="active">
          <img
            [src]="'../../../../resources/lang/' + languageService.language+  '.png'" style="width: 22px;"
            alt="language flag">

        </button>
      </li>

    </ul>

  </div>
</nav>


<ng-template #languageSwitchModal let-c="close" let-d="dismiss">

  <div class="modal-header text-center">

    <span class='col-12 modal-title text-center'>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </span>
  </div>

  <div class="modal-body">
    <div class="container">
      <span *ngFor="let lang of languageService.languages;">
        <div class="row ">
          <div class="offset-4 col-8">
            <a (click)="languageService.setLanguageAndRedirectToUrlLang(lang); d('Cross click')">
              <img
                [src]="'../../../../resources/lang/' + lang +  '.png'" style="width: 20px;" alt="language flag">
              <span style="position: relative; top: 2px;"> {{languageService.getLabel(lang)}} </span>
              <i *ngIf="lang == languageService.language" style="position: relative; top: 7px;" class="fas fa-check">
              </i>

            </a>
            <br>
            <br>
          </div>
        </div>
      </span>
    </div>
  </div>
</ng-template>

