.input-for-notification {
  font-weight: 900;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: none !important;
  border-radius: 0px;
  padding-margin: 10px;
}

.input-for-notification:hover {
  cursor: pointer !important;
  text-decoration: underline;
}

.dropdown-menu {
  font-size: 1.4em !important;
}



