<app-blog-template blogId="02" date="5.8.2022">

  <h1>{{'BLOG.02.H1' | translate}}</h1>

  <p>{{'BLOG.02.P1' | translate}}</p>

  <h2>{{'BLOG.02.H2.1' | translate}}</h2>

  <p>{{'BLOG.02.P2' | translate}}</p>
  <p>{{'BLOG.02.P3' | translate}}</p>

  <h3>{{'BLOG.02.H3.1' | translate}}</h3>

  <p>{{'BLOG.02.P4' | translate}}</p>

  <h3>{{'BLOG.02.H3.2' | translate}}</h3>

  <p>{{'BLOG.02.P5' | translate}}</p>

  <h3>{{'BLOG.02.H3.3' | translate}}</h3>

  <p>{{'BLOG.02.P6' | translate}}</p>

  <h2>{{'BLOG.02.H2.2' | translate}}</h2>

  <p>{{'BLOG.02.P7' | translate}}</p>

  <h3>{{'BLOG.02.H3.4' | translate}}</h3>

  <p>{{'BLOG.02.P8' | translate}}</p>

  <h3>{{'BLOG.02.H3.5' | translate}}</h3>

  <p>{{'BLOG.02.P9' | translate}}</p>

  <h3>{{'BLOG.02.H3.6' | translate}}</h3>

  <p>{{'BLOG.02.P10' | translate}}</p>

  <h2>{{'BLOG.02.H2.3' | translate}}</h2>

  <p>{{'BLOG.02.P11' | translate}}</p>

  <p>{{'BLOG.02.P12' | translate}}</p>

  <p>{{'BLOG.02.P13' | translate}}</p>

</app-blog-template>
