<br>
<br>
<br>

<div class="row text-left" style="padding-top: 45px; padding-bottom: 45px;">
  <br>
  <br>
  <div class="col-4 offset-1 col-md-4 text-center d-none d-md-block ">
    <img src="../resources/intro/calendar.png" style="width:350px; position: relative; bottom: 30px;">
  </div>
  <div class="col-10 col-md-6 offset-1 offset-md-0">
    <br>
    <h3 class="">{{ 'INTRO.WHAT_WE_KNOW_PAGE.SIMPLE' | translate }}</h3>
    <br>
    <h5>
      {{ 'INTRO.MANAGE_ON_GOOGLE.LABEL1' | translate }}

      <br>
      <br>
    </h5>
  </div>
</div>
<br>

<div class="row">
  <div class="col-10 col-md-5 offset-1">
    <h3>{{ 'INTRO.WHAT_WE_KNOW_PAGE.SYNC' | translate }}</h3>
    <br>
    <h5>
      {{ 'INTRO.WHAT_WE_KNOW_PAGE.LABEL1' | translate }}
      <br>
      <br>
      {{ 'INTRO.WHAT_WE_KNOW_PAGE.LABEL2' | translate }}
    </h5>
  </div>
  <div class="col-5 text-center d-none d-md-block ">
    <img src="../resources/intro/sync.png" style="width:450px; position: relative; bottom: 35px;">
  </div>
</div>


<div class="row text-left" style="padding-top: 45px; padding-bottom: 45px;">
  <br>
  <br>
  <br>
  <br>
  <div class=" col-5 offset-1 col-md-5 text-center d-none d-md-block">
    <video class="img-border" src="../../../resources/intro/form-adjustment/form-adjust.mp4" loop autoplay></video>
  </div>
  <div class="col-10 col-md-5 offset-1 offset-md-0 ">
    <h3 class="">{{ 'INTRO.WHAT_WE_KNOW_PAGE.FORM_STYLE' | translate }}</h3>
    <br>
    <h5>
      {{ 'INTRO.WHAT_WE_KNOW_PAGE.LABEL3' | translate }}
      <br>
      <br>
      {{ 'INTRO.WHAT_WE_KNOW_PAGE.LABEL4' | translate }}
      <br>
      <br>
      {{ 'INTRO.WHAT_WE_KNOW_PAGE.LABEL5' | translate }}
    </h5>
  </div>

</div>

<br>
<app-what-we-know-list></app-what-we-know-list>

<br>
<br>




