<app-intro-item
  img="../../../../resources/faq/FAQ.png"
  imgClass="img-responsive"
  alt="FAQ"
  [linkItem1]="{label: 'FAQ.GOOGLE_CALENDAR.TITLE', url: '/faq/' + languageService.language + '/google-calendar'}"
  [linkItem2]="{label: 'FAQ.NOTIFICATION.TITLE', url: '/faq/' + languageService.language + '/notification'}"
  [linkItem3]="{label: 'FAQ.NOTIFICATION_FROM_OWN_EMAIL.TITLE', url: '/faq/' + languageService.language + '/notification-from-own-email'}"
  [linkItem4]="{label: 'FAQ.CANCEL_EVENT.TITLE', url: '/faq/' + languageService.language + '/cancel-event'}"
  [linkItem5]="{label: 'FAQ.VOUCHER.TITLE', url: '/faq/' + languageService.language + '/voucher'}"
  [linkItem6]="{label: 'FAQ.COURSE.TITLE', url: '/faq/' + languageService.language + '/course'}"
  [linkItem7]="{label: 'FAQ.ZOOM.TITLE', url: '/faq/' + languageService.language + '/zoom'}"
  [linkItem8]="{label: 'FAQ.ATTENDEES.TITLE', url: '/faq/' + languageService.language + '/attendees'}"
>
</app-intro-item>

