<app-blog-template-cs blogId="46" date="1.5.2025" [title]="'BLOG.46.TITLE' | translate" >
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p [innerHTML]="'BLOG.46.P1' | translate"></p>
          <h4 [innerHTML]="'BLOG.46.H1' | translate"></h4>
          <p [innerHTML]="'BLOG.46.P2' | translate"></p>
          <h4 [innerHTML]="'BLOG.46.H2' | translate"></h4>
          <p [innerHTML]="'BLOG.46.P3' | translate"></p>
          <p [innerHTML]="'BLOG.46.P4' | translate"></p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 [innerHTML]="'BLOG.46.H3' | translate"></h4>
          <p [innerHTML]="'BLOG.46.P5' | translate"></p>
          <p [innerHTML]="'BLOG.46.P6' | translate"></p>
          <p [innerHTML]="'BLOG.46.P7' | translate"></p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 [innerHTML]="'BLOG.46.H4' | translate"></h4>
          <p [innerHTML]="'BLOG.46.P8' | translate"></p>
          <h4 [innerHTML]="'BLOG.46.H5' | translate"></h4>
          <p [innerHTML]="'BLOG.46.P9' | translate"></p>
          <p [innerHTML]="'BLOG.46.P10' | translate"></p>
          <h4 [innerHTML]="'BLOG.46.H6' | translate"></h4>
          <p [innerHTML]="'BLOG.46.P11' | translate"></p>
          <p [innerHTML]="'BLOG.46.P12' | translate"></p>
        </div>
      </div>
    </div>
  </section>
</app-blog-template-cs>
