<app-blog-template-cs blogId="07" date="12.12.2022" title="{{'BLOG.07.TITLE' | translate}}">

  <iframe width="950" height="556"  src="https://www.youtube.com/embed/gSiKNTVT7n8?si=8owHZxCB2TNYAdpG" title="{{'BLOG.07.VIDEO_TITLE' | translate}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h2 class="">{{'BLOG.07.H1' | translate}}</h2>
        <p class="lead text-justify mt-4">
          {{'BLOG.07.P1' | translate}}
        </p>
        <img alt="{{'BLOG.07.IMG_ALT1' | translate}}"
             src="../../../../resources/blog/booking-form/01.png" class="img-responsive">
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h4 class="">{{'BLOG.07.H2' | translate}}</h4>
        <p class="lead text-justify mt-4">
          {{'BLOG.07.P2' | translate}}
        </p>
        <img alt="{{'BLOG.07.IMG_ALT2' | translate}}"
             src="../../../../resources/blog/booking-form/04.png" class="img-responsive">
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-dark">{{'BLOG.07.H3' | translate}}</h4>
        <table class="table table-bordered mt-4">
          <thead class="thead-dark">
          <tr>
            <th>{{'BLOG.07.TABLE_HEADER1' | translate}}</th>
            <th>{{'BLOG.07.TABLE_HEADER2' | translate}}</th>
            <th>{{'BLOG.07.TABLE_HEADER3' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{'BLOG.07.ROW1_COL1' | translate}}</td>
            <td>{{'BLOG.07.ROW1_COL2' | translate}}</td>
            <td>{{'BLOG.07.ROW1_COL3' | translate}}</td>
          </tr>
          <tr>
            <td>{{'BLOG.07.ROW2_COL1' | translate}}</td>
            <td>{{'BLOG.07.ROW2_COL2' | translate}}</td>
            <td>{{'BLOG.07.ROW2_COL3' | translate}}</td>
          </tr>
          <tr>
            <td>{{'BLOG.07.ROW3_COL1' | translate}}</td>
            <td>{{'BLOG.07.ROW3_COL2' | translate}}</td>
            <td>{{'BLOG.07.ROW3_COL3' | translate}}</td>
          </tr>
          <tr>
            <td>{{'BLOG.07.ROW4_COL1' | translate}}</td>
            <td>{{'BLOG.07.ROW4_COL2' | translate}}</td>
            <td>{{'BLOG.07.ROW4_COL3' | translate}}</td>
          </tr>
          <tr>
            <td>{{'BLOG.07.ROW5_COL1' | translate}}</td>
            <td>{{'BLOG.07.ROW5_COL2' | translate}}</td>
            <td>{{'BLOG.07.ROW5_COL3' | translate}}</td>
          </tr>
          <tr>
            <td>{{'BLOG.07.ROW6_COL1' | translate}}</td>
            <td>{{'BLOG.07.ROW6_COL2' | translate}}</td>
            <td>{{'BLOG.07.ROW6_COL3' | translate}}</td>
          </tr>
          <tr>
            <td>{{'BLOG.07.ROW7_COL1' | translate}}</td>
            <td>{{'BLOG.07.ROW7_COL2' | translate}}</td>
            <td>{{'BLOG.07.ROW7_COL3' | translate}}</td>
          </tr>
          </tbody>
        </table>
        <br>
        <p class="lead text-justify mt-4">
          {{'BLOG.07.P3' | translate}}
        </p>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h4 class="">{{'BLOG.07.H4' | translate}}</h4>
        <p class="lead text-justify mt-4">
          {{'BLOG.07.P4' | translate}}
        </p>
        <img alt="{{'BLOG.07.IMG_ALT3' | translate}}"
             src="../../../../resources/blog/booking-form/02.png" class="img-responsive">
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h4 class="">{{'BLOG.07.H5' | translate}}</h4>
        <p class="lead text-justify mt-4">
          {{'BLOG.07.P5' | translate}}
        </p>
        <img alt="{{'BLOG.07.IMG_ALT4' | translate}}"
             src="../../../../resources/blog/booking-form/03.png" class="img-responsive">
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h4 class="">{{'BLOG.07.H6' | translate}}</h4>
        <p class="lead text-justify mt-4">
          {{'BLOG.07.P6' | translate}}
        </p>
      </div>
    </div>
  </div>

</app-blog-template-cs>
