<br>
<br>

<div class="row">

  <div class="offset-1 col-4 card text-center">
    <br>
    <br>
    <br>
    <br>
    <i class="fas fa-laptop-code text-grey" style="font-size: 2.8em;"></i>
    <br>
    <br>
    <p style=""><strong>{{'DASHBOARD.BUTTON.CREATE_BUTTON.OWN_WEB' | translate}}</strong><br>
      {{'DASHBOARD.BUTTON.CREATE_BUTTON.I_WANT_DESIGN' | translate}}.
      <br>
      <br>

      <br>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    <div class="row">
      <div class="offset-1 col-10">
        <button class="btn btn-blue btn-sm text-uppercase"
                routerLink="/dashboard/dashboard-button-custom-web">
          {{'DASHBOARD.BUTTON.CREATE_BUTTON.CREATE_BUTTON' | translate}}
        </button>
      </div>
    </div>
    <br>
    <br>
    <br>

  </div>

  <div class="offset-1 col-4 card text-center">
    <br>
    <br>
    <br>
    <br>
    <i class="fas fa-cloud text-grey" style="font-size: 2.8em;"></i>
    <br>
    <br>
    <p style=""><strong>{{'DASHBOARD.BUTTON.CREATE_BUTTON.I_USE_PLATFORM' | translate}}</strong><br>
    </p>
    <br>
    <img src="../../../../../resources/brand/WordPress-logotype-standard.png" style="width: 110px; margin: 0 auto;">
    <br>
    <span style="opacity: 0.8;">
    <img src="../../../../../resources/brand/Black+Wix+logo+Assets.png" style="width: 80px; margin: 0 auto;">
    </span>
    <br>
    <span style="opacity: 0.6;">
    <img src="../../../../../resources/brand/facebook-logo-black.png" style="width: 100px; margin: 0 auto;">
      </span>
    <br>
    <span style="opacity: 0.6;">
          <img src="../../../../../resources/brand/webnode.png" style="width: 100px; margin: 0 auto;">
      </span>
    <br>
    <span class=""> <strong>{{'DASHBOARD.BUTTON.CREATE_BUTTON.OTHER' | translate}}</strong></span>
    <br>
    <br>
    <div class="row">
      <div class="offset-1 col-10">
        <button class="btn btn-blue btn-sm text-uppercase"
                routerLink="/dashboard/dashboard-button-cloud-platform">
          {{'DASHBOARD.BUTTON.CREATE_BUTTON.INTEGRATE_WITH_PLATFORM' | translate}}
        </button>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>


</div>
<br>
<br>
<br>

