
h6 {
  width: 100%;
  text-align: center;
  color: rgb(223, 223, 223);
  border-bottom: 1px solid rgb(223, 223, 223);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h6 span {
  padding: 0 10px;
  background: rgb(243, 243, 254);
}

.remove-arrow {
  background-image: none !important;
}
