<div class="row">

  <div class="offset-1 col-10 card text-center" style="min-height: 40vh;">
    <br>
    <br>

    <div class="row text-left">
      <div class="offset-1 col-6 ">
      </div>
      <div class="offset-1 col-3">
      </div>
    </div>
    <div class="row text-left">
      <div class="offset-1 col-10 ">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9xacJJ3THz0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
