<app-blog-template blogId="12" date="12.09.2023" title="12">


  <p [innerHTML]="'BLOG.12.L1' | translate"></p>

  <h2>{{'BLOG.12.L2' | translate }}</h2>

  <p>{{'BLOG.12.L3' | translate }}</p>

  <h2>{{'BLOG.12.L4' | translate }}</h2>

  <p [innerHTML]="'BLOG.12.L5' | translate"></p>

  <h2>{{'BLOG.12.L6' | translate }}</h2>

  <p [innerHTML]="'BLOG.12.L7' | translate"></p>

  <h2>{{'BLOG.12.L8' | translate }}</h2>

  <p>{{'BLOG.12.L9' | translate }}</p>

  <h3>{{'BLOG.12.L10' | translate }}</h3>

  <p>{{'BLOG.12.L11' | translate }}</p>

  <h2>{{'BLOG.12.L12' | translate }}</h2>

  <p>{{'BLOG.12.L13' | translate }}</p>

  <p>{{'BLOG.12.L14' | translate }}</p>

</app-blog-template>


