<div *ngIf="!hide" class="cookie-banner">
  <div class="container">
    <div class="cookie-content">
      <div class="cookie-icon d-none d-xl-block">
        <i class="fas fa-cookie-bite" style="color: #9b643d"></i>
      </div>
      <div class="cookie-text">
        {{'COOKIE.LABEL' | translate}}
      </div>
      <div class="cookie-buttons">
        <button id="cookie-disclaimer-button" (click)="acceptCookies()" class="btn btn-cookie">
          <i class="fa fa-check"></i> {{'COOKIE.BUTTON' | translate}}
        </button>
        <button id="disclaimer-button" (click)="declineCookies()" class="btn btn-cookie">
          <i class="fa fa-times"></i> {{'COOKIE.BUTTON-DECLINE' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
