<app-blog-template-cs blogId="33" date="9.10.2023"
                      [faq]="faq"
                      [readMore]="readMore"
                      title="{{'BLOG.33.TITLE' | translate}}">

  <h1>{{'BLOG.33.H1' | translate}}</h1>
  <h2>{{'BLOG.33.H2_1' | translate}}</h2>
  <p>{{'BLOG.33.P1' | translate}}</p>
  <p>{{'BLOG.33.P2' | translate}}</p>
  <p>{{'BLOG.33.P3' | translate}}</p>

  <h2>{{'BLOG.33.H2_2' | translate}}</h2>
  <p>{{'BLOG.33.P4' | translate}}</p>
  <h3>{{'BLOG.33.H3_1' | translate}}</h3>
  <p>{{'BLOG.33.P5' | translate}}</p>
  <h3>{{'BLOG.33.H3_2' | translate}}</h3>
  <p>{{'BLOG.33.P6' | translate}}</p>
  <h3>{{'BLOG.33.H3_3' | translate}}</h3>
  <p>{{'BLOG.33.P7' | translate}}</p>
  <h3>{{'BLOG.33.H3_4' | translate}}</h3>
  <p>{{'BLOG.33.P8' | translate}}</p>

  <h2>{{'BLOG.33.H2_3' | translate}}</h2>
  <h3>{{'BLOG.33.H3_5' | translate}}</h3>
  <p>{{'BLOG.33.P9' | translate}}</p>
  <h3>{{'BLOG.33.H3_6' | translate}}</h3>
  <p>{{'BLOG.33.P10' | translate}}</p>
  <h3>{{'BLOG.33.H3_7' | translate}}</h3>
  <p>{{'BLOG.33.P11' | translate}}</p>
  <h3>{{'BLOG.33.H3_8' | translate}}</h3>
  <p>{{'BLOG.33.P12' | translate}}</p>

  <h2>{{'BLOG.33.H2_4' | translate}}</h2>
  <h3>{{'BLOG.33.H3_9' | translate}}</h3>
  <p>{{'BLOG.33.P13' | translate}}</p>
  <h3>{{'BLOG.33.H3_10' | translate}}</h3>
  <p>{{'BLOG.33.P14' | translate}}</p>
  <h3>{{'BLOG.33.H3_11' | translate}}</h3>
  <p>{{'BLOG.33.P15' | translate}}</p>
  <h3>{{'BLOG.33.H3_12' | translate}}</h3>
  <p>{{'BLOG.33.P16' | translate}}</p>
  <h3>{{'BLOG.33.H3_13' | translate}}</h3>
  <p>{{'BLOG.33.P17' | translate}}</p>
</app-blog-template-cs>
