<app-blog-template blogId="05" date="6.12.2022">


  <p><span [innerHTML]="'BLOG.05.P1' | translate"></span></p>

  <h2><span [innerHTML]="'BLOG.05.H1' | translate"></span></h2>
  <p><span [innerHTML]="'BLOG.05.P2' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.05.P3' | translate"></span></p>

  <h2><span [innerHTML]="'BLOG.05.H2' | translate"></span></h2>
  <p><span [innerHTML]="'BLOG.05.P4' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.05.P5' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.05.P6' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.05.P7' | translate"></span></p>

  <h2><span [innerHTML]="'BLOG.05.H3' | translate"></span></h2>
  <p><span [innerHTML]="'BLOG.05.P8' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.05.P9' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.05.P10' | translate"></span></p>

  <h2><span [innerHTML]="'BLOG.05.H4' | translate"></span></h2>
  <p><span [innerHTML]="'BLOG.05.P11' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.05.P12' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.05.P13' | translate"></span></p>

  <h2><span [innerHTML]="'BLOG.05.H5' | translate"></span></h2>
  <p><span [innerHTML]="'BLOG.05.P14' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.05.P15' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.05.P16' | translate"></span></p>

  <h2><span [innerHTML]="'BLOG.05.H6' | translate"></span></h2>
  <p><span [innerHTML]="'BLOG.05.P17' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.05.P18' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.05.P19' | translate"></span></p>

  <h2><span [innerHTML]="'BLOG.05.H7' | translate"></span></h2>
  <p><span [innerHTML]="'BLOG.05.P20' | translate"></span></p>


</app-blog-template>


