<app-blog-template blogId="11" date="24.06.2021">

  <p><span [innerHTML]="'BLOG.11.P1' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.11.P2' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.11.P3' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.11.P4' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.11.P5' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.11.P6' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.11.P7' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.11.P8' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.11.P9' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.11.P10' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.11.P11' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.11.P12' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.11.P13' | translate"></span></p>
  <p><span [innerHTML]="'BLOG.11.P14' | translate"></span></p>

</app-blog-template>


