

<!--<div class="row " style="background-color: #7a7adb;-->
<!--background-image: linear-gradient(315deg, #6841D7 0%, #170e13 74%);-->

<!--">-->
<!--  <div class="col-12 text-center">-->


<!--    <div class="container text-white">-->
<!--      <span style="font-size: 1.4em; position: relative; top: 2px;" > </span> {{'DISCOUNT_MENU.LABEL' | translate}}-->
<!--      <a [routerLink]="'/intro/' + languageService.language + '/signup'"-->
<!--         class="btn btn-light btn-sm text-uppercase "-->
<!--         style="margin-top: 6px; margin-top: 10px; margin-bottom: 10px;">🎁 &nbsp; {{ 'DISCOUNT_MENU.DISCOUNT' | translate }} &nbsp;-->
<!--      </a>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
