<div class="row text-left">


  <div class="col-5  text-center">
    <img src="../../../../resources/intro/call-center.png" style="width:400px;">
  </div>
  <br>

  <div class="col-6 offset-1">
    <h3 class="" style="font-size: 2.2em;">
      {{ 'INTRO.TRAINING.TITLE' | translate }}
    </h3>
    <br>
    <h5>
      {{ 'INTRO.TRAINING.LABEL1' | translate }}
      <br>
      <br>
      {{ 'INTRO.TRAINING.LABEL2' | translate }}
      <span class=""> <b> <a href="tel:+420735063099" style="color: var(--primary-color) !important;">+420 735 063 099</a></b></span>
      {{ 'INTRO.TRAINING.LABEL3' | translate }}
      <br>
      <br>
      <br>


      <a class="btn btn-outline-blue btn-sm navbar-button" href="https://m.me/notadoRezervace">
        <span class="text-uppercase">  <i class="fab fa-facebook-messenger"></i> &nbsp; {{ 'INTRO.TRAINING.MESSENGER_BUTTON' | translate }} </span>
      </a>
    </h5>
  </div>
</div>
