<app-blog-template-cs blogId="35" date="14.9.2023"
                      title="{{'BLOG.35.TITLE' | translate}}">
  <!-- Section 1: Introduction -->
  <section id="introduction">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            {{'BLOG.35.S1.P1' | translate}}
          </p>
        </div>
      </div>
    </div>
  </section>
  <br>
  <iframe style="width: 100%; height: 70vh; border-radius: 10px;"
          [src]="'https://www.youtube.com/embed/Lt1Q_6R94TA?si=KlfiZzAIzk0vzWto' | safeUrl: 'url'"
          frameborder="0"
          allow="autoplay" allowfullscreen></iframe>
  <br>

  <!-- Section 2: The Foundation: Setting Business Working Hours -->
  <section id="business-hours">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{'BLOG.35.S2.T1' | translate}}</h2>
          <p>
            {{'BLOG.35.S2.P1' | translate}}
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 3: The Next Level: Individual Employee Working Hours -->
  <section id="employee-hours">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{'BLOG.35.S3.T1' | translate}}</h2>
          <p>
            {{'BLOG.35.S3.P1' | translate}}
          </p>
        </div>
        <div class="col-md-5 col-12">
          <img src="../../../../../resources/blog/35/02.png" alt="{{'BLOG.35.S3.IMG_ALT' | translate}}"
               class="img-fluid rounded img-shadow"/>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 4: The Flexibility Hack: Scheduling Extra Hours with Google Calendar -->
  <section id="custom-overtime">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{'BLOG.35.S4.T1' | translate}}</h2>
          <p>
            {{'BLOG.35.S4.P1' | translate}}
          </p>
          <br>
        </div>
        <div class="col-md-10">
          <img src="../../../../../resources/blog/35/03.png" alt="{{'BLOG.35.S4.IMG_ALT' | translate}}"
               class="img-fluid rounded img-shadow"/>
          <br>
          <br>
          <br>
        </div>

        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="950" height="556" style="border-radius: 10px;"
                    src="https://www.youtube.com/embed/ruKDiEIcXYg?si=m7nRAEVNUhgp8NRh"
                    frameborder="0"
                    allow="autoplay" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 5: The Time-Off Trick: Scheduling Vacations and Sick Days with Google Calendar -->
  <section id="custom-time-off">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{'BLOG.35.S5.T1' | translate}}</h2>
          <p>
            {{'BLOG.35.S5.P1' | translate}}
          </p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="950" height="556" style="border-radius: 10px;"
                    src="https://www.youtube.com/embed/pH-kAEUL0pI?si=C_Hs6ZEETdBFTB_E"
                    frameborder="0"
                    allow="autoplay" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 6: Conclusion -->
  <section id="conclusion">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{'BLOG.35.S6.T1' | translate}}</h2>
          <p>
            {{'BLOG.35.S6.P1' | translate}}
          </p>
          <p>
            <a href="https://m.me/notadoRezervace"
               style="color: white !important;"
               class="btn btn-primary"
               target="_blank"><i class="fab fa-facebook-messenger"></i> &nbsp; {{'BLOG.35.S6.BTN' | translate}}</a>
          </p>
        </div>
      </div>
    </div>
  </section>

</app-blog-template-cs>
