<app-blog-template-cs blogId="19" date="1.8.2023"
                      title="{{'BLOG.19.T1' | translate}}">

  <p>
    {{'BLOG.19.L1' | translate}}
  </p>

  <h2>{{'BLOG.19.H1' | translate}}</h2>
  <p>
    {{'BLOG.19.L2' | translate}} <a href="https://www.notado.cz/audience/cs/for-salon">{{'BLOG.19.LINK1' | translate}}</a>.
  </p>

  <h2>{{'BLOG.19.H2' | translate}}</h2>
  <p>
    {{'BLOG.19.L3' | translate}} <a href="https://www.notado.cz/audience/cs/for-doctor">{{'BLOG.19.LINK2' | translate}}</a>.
  </p>

  <h2>{{'BLOG.19.H3' | translate}}</h2>
  <p>
    {{'BLOG.19.L4' | translate}} <a href="https://www.notado.cz/audience/cs/for-car-repair">{{'BLOG.19.LINK3' | translate}}</a>.
  </p>

  <h2>{{'BLOG.19.H4' | translate}}</h2>
  <p>
    {{'BLOG.19.L5' | translate}} <a href="https://www.notado.cz/audience/cs/for-device">{{'BLOG.19.LINK4' | translate}}</a>.
  </p>

  <h2>{{'BLOG.19.H5' | translate}}</h2>
  <p>
    {{'BLOG.19.L6' | translate}} <a href="https://www.notado.cz/audience/cs/for-yoga">{{'BLOG.19.LINK5' | translate}}</a>.
  </p>

  <h2>{{'BLOG.19.H6' | translate}}</h2>
  <p>
    {{'BLOG.19.L7' | translate}} <a href="https://www.notado.cz/audience/cs/for-course">{{'BLOG.19.LINK6' | translate}}</a>.
  </p>

  <h2>{{'BLOG.19.H7' | translate}}</h2>
  <p>
    {{'BLOG.19.L8' | translate}} <a href="https://www.notado.cz/audience/cs/for-device">{{'BLOG.19.LINK7' | translate}}</a>.
  </p>

  <h2>{{'BLOG.19.H8' | translate}}</h2>
  <p>
    {{'BLOG.19.L9' | translate}} <a href="https://www.notado.cz/audience/cs/for-sports-ground">{{'BLOG.19.LINK8' | translate}}</a>.
  </p>

  <h2>{{'BLOG.19.H9' | translate}}</h2>
  <p>
    {{'BLOG.19.L10' | translate}} <a href="https://www.notado.cz/audience/cs/for-beauty">{{'BLOG.19.LINK9' | translate}}</a>.
  </p>

  <br>
  <br>
  <br>
  <h3>{{'BLOG.19.H10' | translate}}</h3>

  <h2>{{'BLOG.19.H11' | translate}}</h2>
  <p>
    {{'BLOG.19.L11' | translate}}
  </p>

  <h2>{{'BLOG.19.H12' | translate}}</h2>
  <p>
    {{'BLOG.19.L12' | translate}}
  </p>

  <h2>{{'BLOG.19.H13' | translate}}</h2>
  <p>
    {{'BLOG.19.L13' | translate}}
  </p>

  <h2>{{'BLOG.19.H14' | translate}}</h2>
  <p>
    {{'BLOG.19.L14' | translate}}
  </p>

  <h2>{{'BLOG.19.H15' | translate}}</h2>
  <p>
    {{'BLOG.19.L15' | translate}}
  </p>

  <h2>{{'BLOG.19.H16' | translate}}</h2>
  <p>
    {{'BLOG.19.L16' | translate}}
  </p>

  <h2>{{'BLOG.19.H17' | translate}}</h2>
  <p>
    {{'BLOG.19.L17' | translate}}
  </p>

  <h2>{{'BLOG.19.H18' | translate}}</h2>
  <p>
    {{'BLOG.19.L18' | translate}}
  </p>

  <h2>{{'BLOG.19.H19' | translate}}</h2>
  <p>
    {{'BLOG.19.L19' | translate}}
  </p>

  <h2>{{'BLOG.19.H20' | translate}}</h2>
  <p>
    {{'BLOG.19.L20' | translate}}
  </p>

  <h2>{{'BLOG.19.H21' | translate}}</h2>
  <p>
    {{'BLOG.19.L21' | translate}}
  </p>

  <h2>{{'BLOG.19.H22' | translate}}</h2>
  <p>
    {{'BLOG.19.L22' | translate}}
  </p>

  <p>
    {{'BLOG.19.L23' | translate}} <a href="https://www.notado.cz/">{{'BLOG.19.LINK10' | translate}}</a>.
  </p>
  <p>{{'BLOG.19.L24' | translate}} <a href="https://www.notado.cz/blog/cs/telefonicke-vs-online-rezervace">{{'BLOG.19.LINK11' | translate}}</a>.</p>

</app-blog-template-cs>
