<app-blog-template-cs blogId="21" hideAuthor="true" date="1.8.2023" title="{{'BLOG.21.TITLE' | translate}}">

  <p>{{'BLOG.21.P1' | translate}}</p>
  <br>
  <br>

  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
      <th>{{'BLOG.21.TABLE.HEADER.INDUSTRY' | translate}}</th>
      <th>{{'BLOG.21.TABLE.HEADER.PHONE' | translate}}</th>
      <th>{{'BLOG.21.TABLE.HEADER.ONLINE' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><a href="https://www.notado.cz/audience/cs/for-salon" target="_blank">{{'BLOG.21.TABLE.ROW1.INDUSTRY' | translate}}</a></td>
      <td>{{'BLOG.21.TABLE.ROW1.PHONE' | translate}}</td>
      <td>{{'BLOG.21.TABLE.ROW1.ONLINE' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://www.notado.cz/audience/cs/for-beauty" target="_blank">{{'BLOG.21.TABLE.ROW2.INDUSTRY' | translate}}</a></td>
      <td>{{'BLOG.21.TABLE.ROW2.PHONE' | translate}}</td>
      <td>{{'BLOG.21.TABLE.ROW2.ONLINE' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://www.notado.cz/audience/cs/for-doctor" target="_blank">{{'BLOG.21.TABLE.ROW3.INDUSTRY' | translate}}</a></td>
      <td>{{'BLOG.21.TABLE.ROW3.PHONE' | translate}}</td>
      <td>{{'BLOG.21.TABLE.ROW3.ONLINE' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://www.notado.cz/audience/cs/for-car-repair" target="_blank">{{'BLOG.21.TABLE.ROW4.INDUSTRY' | translate}}</a></td>
      <td>{{'BLOG.21.TABLE.ROW4.PHONE' | translate}}</td>
      <td>{{'BLOG.21.TABLE.ROW4.ONLINE' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://www.notado.cz/audience/cs/for-device" target="_blank">{{'BLOG.21.TABLE.ROW5.INDUSTRY' | translate}}</a></td>
      <td>{{'BLOG.21.TABLE.ROW5.PHONE' | translate}}</td>
      <td>{{'BLOG.21.TABLE.ROW5.ONLINE' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://www.notado.cz/audience/cs/for-yoga" target="_blank">{{'BLOG.21.TABLE.ROW6.INDUSTRY' | translate}}</a></td>
      <td>{{'BLOG.21.TABLE.ROW6.PHONE' | translate}}</td>
      <td>{{'BLOG.21.TABLE.ROW6.ONLINE' | translate}}</td>
    </tr>
    <tr>
      <td>{{'BLOG.21.TABLE.ROW7.INDUSTRY' | translate}}</td>
      <td>{{'BLOG.21.TABLE.ROW7.PHONE' | translate}}</td>
      <td>{{'BLOG.21.TABLE.ROW7.ONLINE' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://www.notado.cz/audience/cs/for-device" target="_blank">{{'BLOG.21.TABLE.ROW8.INDUSTRY' | translate}}</a></td>
      <td>{{'BLOG.21.TABLE.ROW8.PHONE' | translate}}</td>
      <td>{{'BLOG.21.TABLE.ROW8.ONLINE' | translate}}</td>
    </tr>
    <tr>
      <td><a href="https://www.notado.cz/audience/cs/for-sports-ground" target="_blank">{{'BLOG.21.TABLE.ROW9.INDUSTRY' | translate}}</a></td>
      <td>{{'BLOG.21.TABLE.ROW9.PHONE' | translate}}</td>
      <td>{{'BLOG.21.TABLE.ROW9.ONLINE' | translate}}</td>
    </tr>
    <tr>
      <td>{{'BLOG.21.TABLE.ROW10.INDUSTRY' | translate}}</td>
      <td>{{'BLOG.21.TABLE.ROW10.PHONE' | translate}}</td>
      <td>{{'BLOG.21.TABLE.ROW10.ONLINE' | translate}}</td>
    </tr>
    </tbody>
  </table>

  <h2>{{'BLOG.21.H1' | translate}}</h2>

  <p>{{'BLOG.21.P2' | translate}}</p>

  <h2>{{'BLOG.21.H2' | translate}}</h2>

  <p>{{'BLOG.21.P3' | translate}}</p>

  <p>{{'BLOG.21.P4' | translate}}</p>

</app-blog-template-cs>
