<div style="white-space: pre-line;">
  <div class="col-12  bg-blue-big intro-cell">
    <div class="container">
      <div class="row text-left">
        <div class="col-md-7 col-12 d-block d-sm-none">
          <img class="rounded img-shadow img-responsive" src="../../../../resources/intro/frame/payment-portal.png"
               style="max-width: 700px; ">
        </div>

        <div class="col-sm-6 col-10 ">
          <br class="d-none d-md-block">
          <br class="d-none d-md-block">
          <br class="d-none d-md-block">
          <br>
          <h5 class="">{{'INTRO.PAYMENT.LABEL1' | translate}}
          </h5>
        </div>
        <div class="col-sm-5 col-10 d-none d-sm-block">
          <img class="rounded img-shadow img-responsive" src="../../../../resources/intro/frame/payment-portal.png"
               style="max-width: 700px; ">
        </div>
      </div>
    </div>
  </div>


  <!--<div class="col-12  bg-blue intro-cell">-->
    <!--<div class="container">-->
      <!--<div class="row text-left">-->
        <!--<div class="col-md-7 col-12">-->
          <!--<img class="rounded img-shadow img-responsive" src="../../../../resources/intro/frame/payment-portal.png"-->
               <!--style="max-width: 700px; ">-->

        <!--</div>-->

        <!--<div class="offset-md-1 offset-0 col-md-4 col-10">-->


          <!--<br class="d-none d-md-block">-->
          <!--<br>-->
          <!--<h4 class="">-->
            <!--{{'INTRO.PAYMENT.LABEL2' | translate}}-->
          <!--</h4>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

</div>
