<app-blog-template-cs blogId="06" date="5.08.2022"
                      title="{{'BLOG.06.T1' | translate}}">

  <p>{{'BLOG.06.L1' | translate}}</p>

  <h2>{{'BLOG.06.H1' | translate}}</h2>
  <p>{{'BLOG.06.L2' | translate}}</p>

  <h2>{{'BLOG.06.H2' | translate}}</h2>
  <p>{{'BLOG.06.L3' | translate}} <a href="https://business.safety.google/data-safety/">{{'BLOG.06.LINK1' | translate}}</a>.</p>

  <h3>{{'BLOG.06.H3' | translate}}</h3>
  <p>{{'BLOG.06.L4' | translate}}</p>

  <h3>{{'BLOG.06.H4' | translate}}</h3>
  <p>{{'BLOG.06.L5' | translate}} <a href="https://cs.wikipedia.org/wiki/Obecn%C3%A9_na%C5%99%C3%ADzen%C3%AD_o_ochran%C4%9B_osobn%C3%ADch_%C3%BAdaj%C5%AF">{{'BLOG.06.LINK2' | translate}}</a>.</p>

  <h2>{{'BLOG.06.H5' | translate}}</h2>
  <p>{{'BLOG.06.L6' | translate}}</p>

</app-blog-template-cs>
