<app-blog-template-cs blogId="03" date="1.01.2022"
                      [readMore]="readMore"
                      [faq]="faq"
                      title="{{'BLOG.03.T1' | translate}}">

  <div class="container">
    <p class="lead text-center">{{'BLOG.03.L1' | translate}}</p>
    <br>
    <div class="row">
      <div class="col-md-6">
        <img src="../../../../../resources/intro/audience/industry/hair.png" alt="{{'BLOG.03.ALT1' | translate}}" class="img-fluid rounded">
      </div>
      <div class="col-md-6">
        <p>{{'BLOG.03.L2' | translate}}</p>
        <a href="https://www.notado.cz/blog/cs/rezervacni-system-pro-salony" class="btn btn-primary">{{'BLOG.03.L3' | translate}}</a>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <h2 class="text-center">{{'BLOG.03.H1' | translate}}</h2>
    <p class="lead">{{'BLOG.03.L4' | translate}}</p>

    <div class="row mt-4">
      <div class="col-md-4">
        <h4>{{'BLOG.03.H2' | translate}}</h4>
        <p>{{'BLOG.03.L5' | translate}}</p>
      </div>
      <div class="col-md-4">
        <h4>{{'BLOG.03.H3' | translate}}</h4>
        <p>{{'BLOG.03.L6' | translate}}</p>
      </div>
      <div class="col-md-4">
        <h4>{{'BLOG.03.H4' | translate}}</h4>
        <p>{{'BLOG.03.L7' | translate}}</p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <h4>{{'BLOG.03.H5' | translate}}</h4>
        <p>{{'BLOG.03.L8' | translate}}</p>
      </div>
      <div class="col-md-6">
        <h4>{{'BLOG.03.H6' | translate}}</h4>
        <p>{{'BLOG.03.L9' | translate}}</p>
      </div>
    </div>

    <div class="text-center mt-5">
      <a href="https://www.notado.cz/blog/cs/configurable-booking-form" class="btn btn-secondary">{{'BLOG.03.L10' | translate}}</a>
    </div>
  </div>

  <!-- Additional sections follow the same pattern -->

</app-blog-template-cs>
