<div class="row">

  <div class="col-3 offset-1 text-center form-check" style="padding: 20px 0px; margin-right: 5px; ">
    <label class="form-check-label" for="businessBranchRadio1">
      <img class="rounded " for="businessBranchRadio1" src="../../../../../resources/demo/business-branch/bb1.png"
           style="width: 130px;">
      <div class="service-label">{{'FORM.PRAGUE' | translate}}</div>
    </label>
    <br>
    <input class="form-check-input checkbox-lg"
           id="businessBranchRadio1"
           name="businessBranchRadioOptions1"
           style="position: relative; left: 11px;"
           type="radio"
           value="Kosmetika"
           [(ngModel)]="demoService.reservation.businessBranch"
           [checked]="demoService.reservation.businessBranch === 'Kosmetika'">

  </div>

  <div class="col-3 text-center" style="padding: 20px 0px;  margin-right: 5px; margin-left: 5px;">
    <label class="form-check-label" for="businessBranchRadio2">
      <img class="rounded" src="../../../../../resources/demo/business-branch/bb2.png"
           style="width: 130px;">

      <div class="service-label">{{'FORM.BRATISLAVA' | translate}}</div>
    </label>
    <br>
    <input class="form-check-input checkbox-lg"
           id="businessBranchRadio2"
           name="businessBranchRadioOptions2"
           style="position: relative; left: 11px;"
           type="radio"
           value="Kadeřnické služby"
           [(ngModel)]="demoService.reservation.businessBranch"
           [checked]="demoService.reservation.businessBranch === 'Kadeřnické služby'">

  </div>

  <div class="col-3 text-center" style="padding: 20px 0px;  margin-right: 5px; margin-left: 5px;">
    <label class="form-check-label" for="businessBranchRadio3">
      <img class="rounded" src="../../../../../resources/demo/business-branch/bb3.png"
           style="width: 130px;">

      <div class="service-label">{{'FORM.BRNO' | translate}}</div>
    </label>
    <br>
    <input class="form-check-input checkbox-lg"
           id="businessBranchRadio3"
           name="businessBranchRadioOptions3"
           style="position: relative; left: 11px;"
           type="radio"
           value="Masáže"
           [(ngModel)]="demoService.reservation.businessBranch"
           [checked]="demoService.reservation.businessBranch === 'Masáže'">

  </div>

</div>

<br>

