<app-blog-template-cs blogId="41" date="24.04.2024"
                      title="{{'BLOG.41.T1' | translate}}">

  <div class="section">
    {{'BLOG.41.S1' | translate}}
  </div>
  <div class="section">
    <div class="question">
      <strong>{{'BLOG.41.Q1' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.41.A1' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.41.Q2' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.41.A2' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.41.Q3' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.41.A3' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.41.Q4' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.41.A4' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.41.Q5' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.41.A5' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.41.Q6' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.41.A6' | translate}}
    </div>
  </div>
</app-blog-template-cs>
