<app-dashboard-card backLink="/dashboard-landing">


  <app-dashboard-card-label label="">

  </app-dashboard-card-label>

  <div class="bg-feedback" style="position: relative; bottom: 100px;"></div>

  <div class="row text-center">
    <div class="col-12">
      <h5 class="text-grey">{{'DASHBOARD.FEEDBACK.HOW_ARE_YOU_SATISFIED' | translate}}</h5>
      <br>
      <a class="btn btn-blue"
         href="https://g.page/r/CTRk4pwsnzltEAI/review"
         target="_blank">{{'DASHBOARD.FEEDBACK.GIVE_US_FEEDBACK' | translate}}</a>
    </div>
  </div>
  <br>
  <br>


</app-dashboard-card>
