<br>

<div class="text-center">
    <div class="row">
        <div class="col-12">
          <h1><i class="far fa-paper-plane"></i></h1>
          <h4><strong>{{ 'FORM.THANKS' | translate }}!</strong></h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <label></label>
            <h6> {{ 'FORM.RESERVATION_CREATED' | translate }} </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>{{ 'FORM.RESERVATION_CONFIRM' | translate }}
              <br>
                <strong>{{demoService.reservation.email}}</strong></p>
        </div>
    </div>
</div>

<br>
<br>
