<div class="container">
  <div class="row">
    <div class="col-12 text-center bg-blue-gradient rounded text-white">
      <br>
      <br>
      <h4>{{ 'COMMON.START_TODAY' | translate }}</h4>
      <h6>{{ 'COMMON.NO_CREDIT_CARD' | translate }}</h6>
      <br>
      <a [routerLink]="'/intro/' + languageService.language + '/signup'" class="btn btn-white">
        <span class="text-uppercase"> {{ 'COMMON.TRY_FREE' | translate }} </span>
      </a>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>

<br>
<br>
