<div style="white-space: pre-line;">
  <div class="col-12  bg-blue-big intro-cell">
    <div class="container">
      <div class="row text-left">
        <div class="col-md-7 col-12 d-block d-sm-none">
          <img class="rounded img-shadow img-responsive" src="../../../../../resources/intro/frame/services.png"
               style="max-width: 700px; ">
        </div>

        <div class="col-sm-4 col-10 ">
          <br class="d-none d-md-block">
          <br class="d-none d-md-block">
          <br class="d-none d-md-block">
          <br>
          <h4 class="">{{'INTRO.GOOGLE_INTEGRATION.LABEL1' | translate}}
          </h4>
        </div>
        <div class="col-sm-7 col-10 d-none d-sm-block">
          <img class="rounded img-shadow" src="../../../../../resources/intro/frame/services.png"
               style="max-width: 700px; ">
        </div>
      </div>
    </div>
  </div>


  <div class="col-12  intro-cell">
    <div class="container">
      <div class="row text-left">
        <div class="col-md-7 col-12">
          <img class="rounded img-shadow img-responsive" src="../../../../../resources/intro/frame/business.png"
               style="max-width: 700px; ">

        </div>

        <div class="offset-md-1 offset-0 col-md-4 col-10">


          <br class="d-none d-md-block">
          <br>
          <h4 class="">
            {{'INTRO.GOOGLE_INTEGRATION.LABEL2' | translate}}
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12  intro-cell ">
    <div class="container">
      <div class="row text-left">
        <div class="col-md-4 col-10 ">
          <br>
          <br>
          <h4 class="">
            {{'INTRO.GOOGLE_INTEGRATION.LABEL3' | translate}}
          </h4>
        </div>
        <div class="col-2 d-none d-md-block">
          <div class="text-img-desc"
               style="position: relative; top: 30px; left: 60px; ">   {{ 'INTRO.GOOGLE_INTEGRATION.IMG_DESC' | translate }}
          </div>
          <img
            src="../../../../resources/demo/arrow.png"
            alt="arrow"
            style="width: 80px; position: relative; top: 50px; left: 100px;">

        </div>

        <div class=" col-md-6 col-12">
          <br class="d-none d-md-block">
          <br class="d-none d-md-block">

          <img class="rounded img-shadow" src="../../../../../resources/faq/calendar.png">
          <br>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="col-12  intro-cell">
    <div class="container">
      <div class="row text-left">

        <div class="col-2 d-none d-md-block">
          <div class="text-img-desc"
               style="position: relative; top: 0px; left: 50px; "> {{ 'INTRO.GOOGLE_INTEGRATION.IMG_DESC2' | translate }}
          </div>
          <img
            src="../../../../resources/demo/arrow.png"
            alt="arrow"
            style="width: 80px; position: relative; top: 0px; left: 100px;">

        </div>

        <div class="col-md-5 col-12">
          <br class="d-none d-md-block">
          <br class="d-none d-md-block">
          <br class="d-none d-md-block">
          <img class="rounded img-shadow" src="../../../../../resources/faq/calendar2.png">
          <br>
          <br>
          <br>
          <br>

        </div>
        <div class="col-2 d-none d-md-block">
          <div class="text-img-desc"
               style="position: relative; top: 0px; left: 10px; ">   {{ 'INTRO.GOOGLE_INTEGRATION.IMG_DESC3' | translate }}
          </div>
          <img
            src="../../../../resources/demo/arrow-left.png"
            style="width: 80px; position: relative; top: 0px; right: 20px;">

        </div>

        <div class="col-md-3 col-10">
          <br>
          <br>
          <h4 class="">
            {{'INTRO.GOOGLE_INTEGRATION.LABEL4' | translate}}
          </h4>
        </div>
      </div>


    </div>
  </div>
</div>
