<app-blog-template-cs blogId="16" date="02.08.2023"
                      title="{{'BLOG.16.TITLE' | translate}}">
  <div class="section">
    <div class="question">
      <strong>{{'BLOG.16.Q1' | translate}}</strong></div>
    <div class="answer">{{'BLOG.16.A1' | translate}}</div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.16.Q2' | translate}}</strong></div>
    <div class="answer">{{'BLOG.16.A2' | translate}}</div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.16.Q3' | translate}}</strong></div>
    <div class="answer">{{'BLOG.16.A3' | translate}}</div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.16.Q4' | translate}}</strong></div>
    <div class="answer">{{'BLOG.16.A4' | translate}}</div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.16.Q5' | translate}}</strong></div>
    <div class="answer">{{'BLOG.16.A5' | translate}}</div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.16.Q6' | translate}}</strong></div>
    <div class="answer">{{'BLOG.16.A6' | translate}}</div>
  </div>
</app-blog-template-cs>
