

<app-intro-item-revert
  img="../../../../resources/intro/3ways/01.png"
  imgClass="img-responsive rounded"
  title2="INTRO.WAY_HOW_TO_USE.LABEL1"
  label1="INTRO.WAY_HOW_TO_USE.DESC11"
  label2="INTRO.WAY_HOW_TO_USE.DESC12"
>

</app-intro-item-revert>

<app-intro-item
  bgType="WHITE"
  img="../../../../resources/intro/3ways/02.png"
  imgClass="img-responsive rounded"
  title2="INTRO.WAY_HOW_TO_USE.LABEL2"
  label1="INTRO.WAY_HOW_TO_USE.DESC2"
></app-intro-item>

<app-intro-item-revert
  img="../../../../resources/intro/3ways/03.png"
  imgClass="img-responsive rounded"
  title2="INTRO.WAY_HOW_TO_USE.LABEL3"
  label1="INTRO.WAY_HOW_TO_USE.DESC31"
  label2="INTRO.WAY_HOW_TO_USE.DESC32"
>
</app-intro-item-revert>

<app-try-button></app-try-button>
