
<app-intro-item-revert
  [bgType]="getBGType.BLUE"
  alt="IMG_ALT.WHY_ONLINE_RESERVATION"
  img="../../../../resources/intro/booking.png"
  imgClass="img-responsive-half"
  title1="INTRO.LOOSING_CUSTOMER.TITLE"
  title2="INTRO.LOOSING_CUSTOMER.LABEL"
  [link]="'/intro/' + languageService.language + '/signup'"
  linkClass="btn btn-outline-white"
  linkLabel="COMMON.TRY_FREE"
>
</app-intro-item-revert>


<!--<div class="row text-left" style="padding-top: 45px; ">-->

<!--  <div class="offset-md-1  col-md-5 col-12 text-center">-->
<!--    <img-->
<!--      [alt]="'IMG_ALT.WHY_ONLINE_RESERVATION' | translate"-->
<!--      src="../../../../resources/intro/booking.png" class="img-responsive-half" style="width:350px;">-->
<!--    <br>-->
<!--    <br>-->

<!--  </div>-->

<!--  <div class=" col-md-5 col-12">-->
<!--    <h4>-->
<!--      {{ 'INTRO.LOOSING_CUSTOMER.LABEL' | translate }}-->
<!--      <br>-->
<!--      <br>-->
<!--      <a [routerLink]="'/wizard/' + languageService.language + '/business-wizard-url'" class="btn btn-outline-white">-->
<!--        <span class="text-uppercase"> {{ 'COMMON.TRY_FREE' | translate }} </span>-->
<!--      </a>-->
<!--    </h4>-->
<!--  </div>-->


<!--</div>-->
