.color-picker {
  position: inherit;
  /*border-buttonRadius: 40px !important;*/
  /*line-height: 24px !important;;*/
  width: 70px !important;;
  cursor: pointer;
}


ngb-datepicker {
  border: 0px solid #dfdfdf;
  border-radius: .25rem;
  display: inline-block;
}

.cell {
  color: #C6C6C6;
  text-align: center;
  padding: 7px 10px;
}

.current-month-cell {
  color: rgb(89, 89, 89) !important;
}

.selected-cell {
  /*background-color: rgb(68, 33, 237) !important;*/
  color: white !important;
  border-radius: 50px;
  display: inline-block;
}
