


<app-for-audience
  img="../resources/intro/audience/massage.png"
  label="LABEL"
  profession="MASSAGE"
  [link1]="'/intro/' + languageService.language + '/way-how-to-use'"
  item11="ITEM11"
  item12="ITEM12"
  item13="ITEM13"
  label2="LABEL2"
  [link2]="'/intro/' + languageService.language + '/intro-google-contacts'"

  label3="LABEL3"

  title1="TITLE1"
  title11="TITLE11"

  title2="TITLE2"
  title22="TITLE22"
  desc2="DESC2"

  title3="TITLE3"
  title33="TITLE33"
  item31="ITEM31"
  item32="ITEM32"
  item33="ITEM33"

  title4="TITLE4"
  title44="TITLE44"
  desc4="DESC4"

  title5="TITLE5"
  title55="TITLE55"
  desc5="DESC5"
  [link5]="'/intro/' + languageService.language + '/notification'"

  title6="TITLE6"
  title66="TITLE66"
  desc6="DESC6"

  img1="../../../../resources/intro/3ways/01.png"
  img2="../../../../resources/intro/audience/massage2.png"
  img4="../../../../resources/intro/audience/massage3.png"
  img5="../../../../resources/intro/audience/notification.png"
  imgAlt="INTRO.MENU_AUDIENCE.MASSAGE_DESC"
  imgAlt1="IMG_ALT1"
  imgAlt2="IMG_ALT2"
  imgAlt3="IMG_ALT3"
  [demoType]="demoTypeEnum.MASSAGE"
>
</app-for-audience>





