<app-for-audience
  img="../resources/intro/audience/cosmetic.png"
  label="DESC"
  profession="SALON"
  desc1="DESC1"
  label2="LABEL2"
  desc2="DESC2"
  label3="LABEL3"
  desc3="DESC3"

  title1="TITLE1"
  title11="TITLE11"
  title2="TITLE2"
  title22="TITLE22"
  title3="TITLE3"
  title33="TITLE33"

  img1="../../../../resources/intro/audience/massage1.png"
  img2="../../../../resources/intro/audience/massage2.png"
  img3="../../../../resources/intro/audience/massage3.png"
  imgAlt="INTRO.MENU_AUDIENCE.SALON_DESC"
  imgAlt1="IMG_ALT1"
  imgAlt2="IMG_ALT2"
  imgAlt3="IMG_ALT3"
  [demoType]="demoTypeEnum.MASSAGE"
>
</app-for-audience>





