.offset-1 {
    margin-left: 10.4% !important;
}

.service-label {
    font-size: 1.2em;
    color: rgb(89, 89, 89);
    margin-top: 8px;
    margin-bottom: -3px;
}

.service-duration {
    font-size: 1.0em;
}

:focus {
    outline: none;
}

