<app-blog-template-cs blogId="23" date="9.8.2023"
                      title="{{'BLOG.23.T1' | translate}}">
  <div class="section">
    <div class="question">
      <strong>{{'BLOG.23.Q1' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.23.A1' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.23.Q2' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.23.A2' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.23.Q3' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.23.A3' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.23.Q4' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.23.A4' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.23.Q5' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.23.A5' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.23.Q6' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.23.A6' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.23.Q7' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.23.A7' | translate}}
    </div>
  </div>

</app-blog-template-cs>
