<app-for-audience
  [demoType]="demoTypeEnum.VR"
  [link3]="'/intro/' + languageService.language + '/intro-google-contacts'"
  desc1="DESC1"

  desc2="DESC1"
  desc3="DESC3"
  desc4="DESC4"

  img="../resources/intro/audience/vr.png"
  img1="../../../../resources/intro/audience/vr-with-friends.png"
  img2="../../../../resources/intro/audience/other1.png"

  img4="../../../../resources/intro/audience/other3.png"
  imgAlt="INTRO.MENU_AUDIENCE.VR_DESC"
  imgAlt1="IMG_ALT1"

  imgAlt2="IMG_ALT2"
  imgAlt3="IMG_ALT3"
  label="DESC"

  profession="VR"
  title1="TITLE1"
  title11="TITLE11"
  title2="TITLE2"
  title22="TITLE22"
  title3="TITLE3"
  title33="TITLE33"
  title4="TITLE4"
  title44="TITLE44"
>
</app-for-audience>

