<app-blog-template-cs blogId="36" date="29.9.2023"
                      [faq]="faq"
                      [readMore]="readMore"
                      title="{{'BLOG.36.TITLE' | translate}}">

  <div class="summary">
    <p>{{'BLOG.36.SUMMARY' | translate}}</p>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.36.Q1' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.36.A1' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.36.Q2' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.36.A2' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.36.Q3' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.36.A3' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.36.Q4' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.36.A4' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.36.Q5' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.36.A5' | translate}}
    </div>
  </div>

  <div class="section">
    <div class="question">
      <strong>{{'BLOG.36.Q6' | translate}}</strong>
    </div>
    <div class="answer">
      {{'BLOG.36.A6' | translate}}
    </div>
  </div>

</app-blog-template-cs>
