<div *ngIf="wizardService.business && wizardService.workers[idx]" class="col-12">
  <div class="row" style="height: 100vh; max-height: 100vh; max-width: 100vw; background-color: white;">

    <div class="col-12 col-md-6">
      <app-business-wizard-left
        [label]="idx === 0 ? 'WIZARD.ADD_WORKER_FIRST': 'WIZARD.ADD_WORKER'"
      ></app-business-wizard-left>
    </div>

    <div class="col-12 col-md-5" style="background: white;">
      <div class="row" style="height: 5vh"></div>
      <div class="row d-none d-md-block" style="height: 35vh"></div>

      <form #form="ngForm" (ngSubmit)="onSubmit()" validate>
        <div *ngIf="wizardService.workers[idx]" class="input-group col-11 offset-1">
          <input #workerName="ngModel" [(ngModel)]="wizardService.workers[idx].name"
                 [class.is-invalid]="workerName.invalid && showValidation"
                 [class.is-valid]="!workerName.invalid"
                 class="form-control form-control-lg"
                 id="wizard-worker-name-input"
                 name="worker-name"
                 placeholder="Anezka Stastna"
                 required
                 type="text">

          <div class="invalid-feedback">
            {{ 'COMMON.REQUIRED' | translate }}
          </div>
          <div *ngIf="workerName.valid" class="feedback-icon" style="width: 15px;">
            <i class="fas fa-check"></i>
          </div>
          <div *ngIf="!workerName.valid" class="feedback-icon" style=" width: 15px;">
          </div>
        </div>
      </form>
      <div *ngIf="idx == 0" class="row">
        <div class="text-grey feedback offset-2" style="font-size: 0.90em; margin-top: 8px; ">
          {{ 'WIZARD.ADD_YOURSELF' | translate }}
        </div>
      </div>

      <br *ngIf="idx > 0">


      <div class="row">

        <div class="col-6 col-md-7 offset-0 offset-md-1 text-right">
          <button *ngIf="idx > 0"
                  [class.btn-sm-padding]="isMobile"
                  [class.btn-no-other-position]="!isMobile"
                  [class.btn-no-other-position-mobile]="isMobile"
                  [class.btn-lg]="!isMobile"
                  class="btn btn-secondary"
                  id="wizard-dont-have-other-workers-button"
                  routerLink="/wizard/business-wizard-fin">
            {{ 'WIZARD.DONT_HAVE_OTHER_WORKER' | translate }}
          </button>
        </div>
        <div class="col-6 col-md-2 text-right">

          <button (click)="showValidation = true" *ngIf="form.invalid"
                  [class.btn-sm-padding]="isMobile"
                  [class.btn-continue-fix-position]="!isMobile"
                  [class.btn-continue-fix-position-mobile]="isMobile"
                  [class.btn-lg]="!isMobile"
                  class="btn btn-blue text-uppercase "
                  type="button">
            {{ 'COMMON.CONTINUE' | translate }}
          </button>

          <button (click)="form.ngSubmit.emit()"
                  *ngIf="!form.invalid"
                  [class.btn-sm-padding]="isMobile"
                  [class.btn-continue-fix-position]="!isMobile"
                  [class.btn-continue-fix-position-mobile]="isMobile"
                  [class.btn-lg]="!isMobile"
                  class="btn btn-blue text-uppercase -lg"
                  id="wizard-continue-button">
            {{ 'COMMON.CONTINUE' | translate }}
          </button>
        </div>
      </div>

    </div>

  </div>
</div>
