.img-blog {
  max-width: 800px;
}
.img-blog-sm {
  max-width: 550px;
}

h2 {
  margin-top: 50px;
}

h4 {
  margin-top: 40px;
}


h5 {
  margin-top: 25px;
}

p {
  font-size: 1.4em;
}


.section {
  font-size: 1.4em;
  margin: 40px 0;
  padding: 15px 0;
  /*border-bottom: 1px solid #ddd;*/
}

.question {
  font-weight: bold;
  font-size: 1.1em;

}

.answer {
  margin-top: 10px;
}

