<app-blog-template-cs blogId="37" date="29.9.2023"
                      [faq]="faq"
                      [readMore]="readMore"
                      title="{{'BLOG.37.TITLE' | translate}}">

  <article>
    <section>
      <p>{{'BLOG.37.P1' | translate}}</p>
    </section>
  </article>

  <article>
    <section>
      <h1>{{'BLOG.37.H1' | translate}}</h1>
      <p>{{'BLOG.37.P2' | translate}}</p>

      <h2>{{'BLOG.37.H2.1' | translate}}</h2>
      <p>{{'BLOG.37.P3' | translate}}</p>

      <h2>{{'BLOG.37.H2.2' | translate}}</h2>
      <p>{{'BLOG.37.P4' | translate}}</p>
    </section>
  </article>

  <article>
    <section>
      <h2>{{'BLOG.37.H2.3' | translate}}</h2>
      <p>{{'BLOG.37.P5' | translate}}</p>

      <h2>{{'BLOG.37.H2.4' | translate}}</h2>
      <p>{{'BLOG.37.P6' | translate}}</p>

      <h2>{{'BLOG.37.H2.5' | translate}}</h2>
      <p>{{'BLOG.37.P7' | translate}}</p>

      <h2>{{'BLOG.37.H2.6' | translate}}</h2>
      <p>{{'BLOG.37.P8' | translate}}</p>
    </section>
  </article>

  <article>
    <section>
      <h2>{{'BLOG.37.H2.7' | translate}}</h2>
      <ul>
        <li><strong>{{'BLOG.37.LI1' | translate}}</strong></li>
        <li><strong>{{'BLOG.37.LI2' | translate}}</strong></li>
        <li><strong>{{'BLOG.37.LI3' | translate}}</strong></li>
      </ul>

      <h2>{{'BLOG.37.H2.8' | translate}}</h2>
      <p>{{'BLOG.37.P9' | translate}}</p>

      <h2>{{'BLOG.37.H2.9' | translate}}</h2>
      <p>{{'BLOG.37.P10' | translate}}</p>
    </section>
  </article>

  <article>
    <section>
      <h2>{{'BLOG.37.H2.10' | translate}}</h2>
      <p>{{'BLOG.37.P11' | translate}}</p>
      <ul>
        <li><strong>{{'BLOG.37.LI4' | translate}}</strong></li>
        <li><strong>{{'BLOG.37.LI5' | translate}}</strong></li>
        <li><strong>{{'BLOG.37.LI6' | translate}}</strong></li>
      </ul>

      <h2>{{'BLOG.37.H2.11' | translate}}</h2>
      <p>{{'BLOG.37.P12' | translate}}</p>

    </section>
  </article>

</app-blog-template-cs>
