<app-blog-template-cs blogId="31" date="23.08.2023" hideAuthor="true"
                      title="{{'BLOG.31.T1' | translate}}">

  <section class="container">
    <p class="lead">{{'BLOG.31.L1' | translate}}</p>

    <h2>{{'BLOG.31.H1' | translate}}</h2>
    <p>{{'BLOG.31.L2' | translate}}</p>
  </section>

  <section class="container">
    <h2>{{'BLOG.31.H2' | translate}}</h2>
    <p>{{'BLOG.31.L3' | translate}}</p>

    <h2>{{'BLOG.31.H3' | translate}}</h2>
    <p>{{'BLOG.31.L4' | translate}}</p>

    <h2>{{'BLOG.31.H4' | translate}}</h2>
    <p>{{'BLOG.31.L5' | translate}}</p>
  </section>

  <section class="container">
    <h2>{{'BLOG.31.H5' | translate}}</h2>
    <p>{{'BLOG.31.L6' | translate}}</p>
    <p>{{'BLOG.31.L7' | translate}}</p>
  </section>

</app-blog-template-cs>
