<app-blog-template-cs blogId="40" date="4.1.2024" title="{{'BLOG.40.TITLE' | translate}}">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{'BLOG.40.T1' | translate}}</h2>
          <p>{{'BLOG.40.L1' | translate}} <strong>{{'BLOG.40.L2' | translate}}</strong> {{'BLOG.40.L3' | translate}} <a href="https://www.notado.cz/intro/cs/management-on-google">{{'BLOG.40.L4' | translate}}</a>. {{'BLOG.40.L5' | translate}} <strong>{{'BLOG.40.L6' | translate}}</strong>.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>{{'BLOG.40.T2' | translate}}</h4>
          <p>{{'BLOG.40.L7' | translate}} <a href="https://calendar.google.com" target="_blank">{{'BLOG.40.L8' | translate}}</a>. {{'BLOG.40.L9' | translate}}</p>
          <p>{{'BLOG.40.L10' | translate}}</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>{{'BLOG.40.T3' | translate}}</h2>
      <p>{{'BLOG.40.L11' | translate}}</p>
    </div>
  </section>

  <section>
    <div class="container">
      <h3>{{'BLOG.40.T4' | translate}}</h3>
      <ul>
        <li><a href="https://cron.com" target="_blank">{{'BLOG.40.L12' | translate}}</a>: {{'BLOG.40.L13' | translate}}</li>
        <li><a href="https://kalendarseznam.cz" target="_blank">{{'BLOG.40.L14' | translate}}</a>: {{'BLOG.40.L15' | translate}}</li>
        <li>{{'BLOG.40.L16' | translate}}</li>
        <li><a href="https://www.icloud.com/calendar" target="_blank">{{'BLOG.40.L17' | translate}}</a>: {{'BLOG.40.L18' | translate}}</li>
        <li>{{'BLOG.40.L19' | translate}}</li>
      </ul>
    </div>
  </section>

  <section>
    <div class="container">
      <h3>{{'BLOG.40.T5' | translate}}</h3>
      <p>{{'BLOG.40.L20' | translate}}</p>
    </div>
  </section>

  <section>
    <div class="container">
      <h3>{{'BLOG.40.T6' | translate}}</h3>
      <p>{{'BLOG.40.L21' | translate}}</p>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h5>{{'BLOG.40.T7' | translate}}</h5>
          <p>{{'BLOG.40.L22' | translate}}</p>
          <p>{{'BLOG.40.L23' | translate}}</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h6>{{'BLOG.40.T8' | translate}}</h6>
          <p>{{'BLOG.40.L24' | translate}}</p>
          <p>{{'BLOG.40.L25' | translate}} <a href="https://www.notado.cz/intro/cs/calendar-availability">{{'BLOG.40.L26' | translate}}</a>.</p>
        </div>
      </div>
    </div>
  </section>
</app-blog-template-cs>
