<app-blog-template-cs blogId="45" date="8.8.2045" title="{{'BLOG.45.TITLE' | translate}}">

  <h2>{{'BLOG.45.T1' | translate}}</h2>
  <p [innerHTML]="'BLOG.45.P1' | translate"></p>

  <img src="http://www.example-image.cz/obrazek1.jpg" alt="{{'BLOG.45.IMG1' | translate}}" />

  <h2>{{'BLOG.45.T2' | translate}}</h2>
  <p>{{'BLOG.45.P2' | translate}}</p>

  <h2>{{'BLOG.45.T3' | translate}}</h2>
  <p>{{'BLOG.45.P3' | translate}}</p>

  <img src="http://www.example-image.cz/obrazek2.jpg" alt="{{'BLOG.45.IMG2' | translate}}" />

  <h2>{{'BLOG.45.T4' | translate}}</h2>
  <p>{{'BLOG.45.P4' | translate}}</p>

  <h3>{{'BLOG.45.T5' | translate}}</h3>
  <p>{{'BLOG.45.P5' | translate}}</p>

</app-blog-template-cs>
