<div class="container" style="white-space: pre-line;">
  <br>
  <br>
  <h1 class="display-3 text-center" [innerHTML]="'BLOG.28.TITLE' | translate"></h1>
  <br>
  <br>
  <p>
    {{'BLOG.28.L1' | translate}}
  </p>
  <br>
  <h5>{{'BLOG.28.L2' | translate}}</h5>
  <p [innerHTML]="'BLOG.28.L3' | translate"></p>
  <ul [innerHTML]="'BLOG.28.I1' | translate">
  </ul>

  <br>
  <h5>
    {{'BLOG.28.L4' | translate}}
  </h5>
  <ul [innerHTML]="'BLOG.28.I2' | translate">
  </ul>


  <div class="container mt-5">
    <h2> {{'BLOG.28.L5' | translate}}</h2>
    <table class="table table-bordered table-striped">
      <thead [innerHTML]="'BLOG.28.T1' | translate | safeUrl:'html'">
      </thead>
      <tbody [innerHTML]="'BLOG.28.T2' | translate| safeUrl:'html'">
      </tbody>
    </table>
  </div>


  <!--====================================================================================================-->
  <!--====================================================================================================-->
  <hr>
  <h2 class="display-4 "><a href="https://www.notado.cz">#1 Notado</a></h2>
  <h4>Cena</h4>
  <p [innerHTML]="'BLOG.28.NOTADO.L1' | translate">
  </p>

  <h4>{{'BLOG.28.L6' | translate}}</h4>

  <p>
    {{'BLOG.28.NOTADO.L2' | translate}}
  </p>
  <iframe
    width="950"
    height="556"
    style="border-radius: 10px;"
    src="https://www.youtube.com/embed/6VjBq4TWib4"
    frameborder="0"
    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

  <br>
  <h4>{{'BLOG.28.L7' | translate}}</h4>

  <h5>{{'BLOG.28.L8' | translate}}</h5>
  <p [innerHTML]="'BLOG.28.NOTADO.L3' | translate"></p>
  <iframe
    width="950"
    height="556"
    style="border-radius: 10px;"
    src="https://www.youtube.com/embed/gSiKNTVT7n8"
    frameborder="0"
    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>


  <p class="text-sm">{{'BLOG.28.L12' | translate}}</p>

  <h5>{{'BLOG.28.L9' | translate}}</h5>
  <p [innerHTML]="'BLOG.28.NOTADO.L4' | translate"></p>.

  <div class="row centered">

  </div>
  <img
    class=" img-shadow rounded img-blog-sm"
    src="../../../../resources/blog/top-5/03.png">
  <p class="text-sm">{{'BLOG.28.NOTADO.L5' | translate}}</p>

  <p>
    {{'BLOG.28.NOTADO.L6' | translate}}
  </p>

  <p>{{'BLOG.28.NOTADO.L7' | translate}}</p>
  <img class="rounded shadow" src="../../../../resources/blog/top-5/04.png">

  <h4>{{'BLOG.28.L11' | translate}}</h4>
  <p>{{'BLOG.28.NOTADO.L8' | translate}}</p>


  <p>{{'BLOG.28.NOTADO.L9' | translate}}</p>
  <br>
  <h4>Google review</h4>

  <app-feedback feedbackOnly="true"></app-feedback>
  <br>
  <br>

  <iframe
    width="950"
    height="556"
    style="border-radius: 10px;"
    src="https://www.youtube.com/embed/gQj9t9NDpLI"
    frameborder="0"
    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

  <p class="text-sm">{{'BLOG.28.NOTADO.L10' | translate}}</p>

  <!--====================================================================================================-->
  <!--====================================================================================================-->
  <hr>

  <h2 class="display-4"><a href="https://www.reservio.com/">#2 Reservio</a></h2>
  <h4>Cena</h4>
  <p [innerHTML]="'BLOG.28.RESERVIO.L1' | translate"></p>.

  <h4>{{'BLOG.28.L6' | translate}}</h4>

  <p>{{'BLOG.28.RESERVIO.L2' | translate}} </p>
  <br>
  <img
    class=" img-shadow rounded img-blog"
    src="../../../../resources/blog/top-5/reservio-01.png">
  <p class="text-sm">{{'BLOG.28.RESERVIO.L3' | translate}}</p>


  <br>
  <h4>{{'BLOG.28.L7' | translate}}</h4>

  <h5>{{'BLOG.28.L9' | translate}}</h5>
  <p>{{'BLOG.28.RESERVIO.L4' | translate}}
  </p>

  <img
    class=" img-shadow rounded img-blog-sm"
    src="../../../../resources/blog/top-5/reservio-02.png">

  <p>
    {{'BLOG.28.RESERVIO.L5' | translate}}
  </p>

  <h4>{{'BLOG.28.L11' | translate}}</h4>
  <p>
    {{'BLOG.28.RESERVIO.L6' | translate}}
  </p>
  <p>  {{'BLOG.28.RESERVIO.L7' | translate}}</p>


  <img
    class=" img-shadow rounded img-blog-sm"
    src="../../../../resources/blog/top-5/reservio-03.png">
  <p class="text-sm">{{'BLOG.28.RESERVIO.L8' | translate}}</p>
  <!--====================================================================================================-->
  <!--====================================================================================================-->
  <hr>

  <h2 class="display-4"><a href="https://reenio.cz/">#3 Reenio</a></h2>
  <h4>Cena</h4>
  <p [innerHTML]="'BLOG.28.REENIO.L1' | translate"></p>

  <h4> {{'BLOG.28.L6' | translate}}</h4>

  <p> {{'BLOG.28.REENIO.L2' | translate}}
  </p>
  <p>{{'BLOG.28.REENIO.L3' | translate}}</p>


  <img
    class=" img-shadow rounded img-blog"
    src="../../../../resources/blog/top-5/renio-01.png">
  <p class="text-sm">  {{'BLOG.28.RESERVIO.L3' | translate}}</p>


  <br>
  <h4>{{'BLOG.28.L7' | translate}}</h4>

  <h5>{{'BLOG.28.L9' | translate}}</h5>
  <p>{{'BLOG.28.REENIO.L4' | translate}}
  </p>

  <img
    class=" img-shadow rounded img-blog-sm"
    src="../../../../resources/blog/top-5/renio-02.png">
  <p class="text-sm">{{'BLOG.28.NOTADO.L5' | translate}}</p>

  <p>{{'BLOG.28.REENIO.L5' | translate}}
  </p>

  <h4>{{'BLOG.28.L11' | translate}}</h4>
  <p>{{'BLOG.28.REENIO.L6' | translate}}</p>

  <img
    class=" img-shadow rounded img-blog-sm"
    src="../../../../resources/blog/top-5/renio-03.png">
  <p class="text-sm">{{'BLOG.28.REENIO.L7' | translate}}</p>
  <!--====================================================================================================-->
  <!--====================================================================================================-->
  <hr>

  <h2 class="display-4"><a href="https://www.supersaas.cz">#4 Supersaas</a></h2>
  <h4>Cena</h4>
  <p [innerHTML]="'BLOG.28.SUPERSAAS.L1' | translate">
  </p>

  <h4> {{'BLOG.28.L6' | translate}}</h4>

  <p>{{'BLOG.28.SUPERSAAS.L2' | translate}}
  </p>
  <br>
  <h4>{{'BLOG.28.L7' | translate}}</h4>

  <h5>{{'BLOG.28.L9' | translate}}</h5>
  <p>{{'BLOG.28.SUPERSAAS.L3' | translate}}
  </p>

  <h5>{{'BLOG.28.L10' | translate}}</h5>
  <p>{{'BLOG.28.SUPERSAAS.L4' | translate}}
  </p>
  <p>{{'BLOG.28.SUPERSAAS.L5' | translate}}</p>

  <!--====================================================================================================-->
  <!--====================================================================================================-->
  <hr>

  <h2 class="display-4"><a href="https://www.myfox.one">#5 Myfox</a></h2>
  <h4>Cena</h4>
  <p [innerHTML]="'BLOG.28.MYFOX.L1' | translate">
  </p>
  <h4> {{'BLOG.28.L6' | translate}}</h4>

  <p>{{'BLOG.28.MYFOX.L2' | translate}}
  </p>

  <br>

  <h4>{{'BLOG.28.L7' | translate}}</h4>
  <h5>{{'BLOG.28.L9' | translate}}</h5>
  <p>{{'BLOG.28.MYFOX.L3' | translate}}
  </p>


  <h5>{{'BLOG.28.L10' | translate}}</h5>
  <p>{{'BLOG.28.MYFOX.L4' | translate}}</p>


  <h2>{{'BLOG.28.L13' | translate}}</h2>
  <h5>{{'BLOG.28.L14' | translate}}</h5>

  <br>
  <br>
  <app-try-button></app-try-button>

  <br>
  <br>
  <span *ngIf="faq && faq.length > 0">
    <br>
    <h2>Často kladené dotazy</h2>
    <br>
    <div *ngFor="let f of this.faq;">
      <app-row-faq-item [question]="f.question" [answer]="f.answer"></app-row-faq-item>
    </div>
  </span>
  <br>

</div>


